.no-margin{
	margin:0px !important;
}

.container-fluid{

	.cheader{
		background-color:#7f5529;
		min-height:25px;
		
	}
	.row{
	margin-left:0px !important;
	margin-right:0px !important;
	}

}


@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {
  
}