body{
	font-family:Arial !important;
}

.no-margin{
	margin:0px !important;
}
.no-padding{
	padding:0px !important;
}
.width100{
	width:100% !important;
}
.size-13{
	font-size:13px !important;
}
.size-14{
	font-size:14px !important;
}
.size-15{
	font-size:15px !important;
}
.size-16{
	font-size:16px !important;
}
.size-17{
	font-size:17px !important;
}
.size-18{
	font-size:18px !important;
}
.size-19{
	font-size:19px !important;
}
.size-20{
	font-size:20px !important;
}
.container-fluid{

	.cheader{
		background-color:#593a1d;
		min-height:40px;
		
	}
	.row{
	margin-left:0px !important;
	margin-right:0px !important;
	}

}

.logoimg{
    margin-left:0%;
	margin-bottom: 3%;
	float:right !important;
	margin-right: 4%;
}

.body-background{
	background-color:#ececec;
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(left, #FFFFFF 0%, #ececec 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(left, #FFFFFF 0%, #ececec 100%);

/* Opera */ 
background-image: -o-linear-gradient(left, #FFFFFF 0%, #ececec 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFFFF), color-stop(1, #ececec));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #ececec 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to right, #FFFFFF 0%, #ececec 100%);
}

.color-white{
	color:#FFFFFF;
}

.bcolor-brown{
	background-color:#593a1d !important;
}
.color-brown{
	color:#593a1d !important;
}
.color-brown-light{
	color:#98754f !important;
}

.bcolor-white{
	background-color:#ffffff !important;
}

.bcolor-grey{
background: rgba(230,230,230,1);

background: -moz-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(225,224,220,1) 100%);

background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,230,230,1)), color-stop(100%, rgba(225,224,220,1)));

background: -webkit-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(225,224,220,1) 100%);

background: -o-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(225,224,220,1) 100%);

background: -ms-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(225,224,220,1) 100%);

background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(225,224,220,1) 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#e1e0dc', GradientType=1 );
}
.align-center{
	text-align:center !important;
}
.float-left{float:left;}

.footer-style{
	padding:0% 10% 0% 10%; 
	border-left:1px solid #4c2500;
}
.padding-top-4p{padding-top:4% ! important;}
.padding-left-10p{padding-left:10% ! important;}
.padding-right-10p{padding-right:10% ! important;}
.padding-10{
	padding:10px;
}

.padding-15{
	padding:15px;
}
.padding-20{
	padding:20px;
}
.margin-right-0{
	margin-right:0px !important;
}
.margin-top-10{
	margin-top:10% !important;
}
.margin-top-5{
	margin-top:5% !important;
}
.margin-top-4{
	margin-top:4% !important;
}
.margin-top-3{
	margin-top:3% !important;
}
.margin-top-2{
	margin-top:2% !important;
}
a:hover{
	color:#593a1d !important;
}
.morebutton{
	margin-right:17%;
	background-color:#5bc0de;
	padding:3px 10px;
	border-radius:5px !important;
	margin-bottom:10px;
}
 
 .notify{
	 margin-top:3%;
	 margin-right:7%;
 }

 .margint{
 	margin-top:3%
 }	

.home{
	display:none;
}

.home1{
	display:none;
}

.imagel{
	border:2px solid black;
}
.name{
	font-size:18px;
	font-weight:600;
	color:#fa4d08;
	margin:0px 20px;
}
.add{
	font-size:15px;
}
.clabel{
	background-color:#593a1d;
	padding:5px 0px 5px 10px;
	color:#ffffff;
	font-size:14px;
	font-weight:600;
	margin-bottom:10px;
	border-radius:5px !important;

}
.marginleft{
	margin:0px 20px;
}
.sublabel{
	padding:5px 10px;
	background-color:#e6c39d;
	margin-bottom:10px;
	 margin-right: 5px;
	display:inline-block;
	font-size:13px;
	cursor:pointer;
}
.clearfix{
	clear:both;
}
.float-left{
	float:left;
}

.interests{
	padding:5px 10px 5px 10px;
}
.gly{
	font-size:35px;
}
.font{
	font-size:15px;
}
.quote{
	display:block;
}

.rightmargintop{
	margin-top:20px !important;
}

.rightmargin{
	margin-right:10px !important;
	margin-left:10px !important;
}
.progresscustom{
	border-radius:5px !important;
	background: none repeat scroll 0 0 #e6c39d !important;
	clear:both;
}

.progress-barcustom {
    background-image: linear-gradient(to bottom, #593a1d 0%, #593a1d 100%) !important;
    background-repeat: repeat-x;
}

.padding-left{
	padding-left:20px;
}

.badge-lists.badge-icons span.badge1 {
    min-width: 20px;
    padding: 0px 0px;
    text-align:center;
}
.badge-lists span.badge1 {
    position: absolute;
    right: -8px;
    top: -12px;
}
.badge-icons1 {
	li{
		margin-right:10px !important;
	}
	i {
	    font-size: 13px !important;
	    min-width: 17px !important;
	}
}
.btn-comp{
	border-radius:10px !important;
	background-color:#fa4d08 !important;
	color:#ffffff;
	float:left;
}
.btn-gtky{
	border-radius:10px !important;
	margin-top:5px;
	width: 150px;
	background-color: #5bc0de !important;
	color:#ffffff;
}
.head1{
	font-size:20px;
	font-weight:600;

}
.borderpad{
	border:1px solid #000000;
	padding:5px;
}
.bordertop{
	border-top:1px solid #e3e2e0;
}
borderbottom{
	border-bottom:1px solid #e3e2e0;
}
.hideblock{
	display:none;	
}
.wordcloud{
	display:none;
}
.gredient{
background: rgba(230,230,230,1);

background: -moz-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(225,224,220,1) 100%);

background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,230,230,1)), color-stop(100%, rgba(225,224,220,1)));

background: -webkit-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(225,224,220,1) 100%);

background: -o-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(225,224,220,1) 100%);

background: -ms-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(225,224,220,1) 100%);

background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(225,224,220,1) 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#e1e0dc', GradientType=1 );
}
.settingicon{
	display:none;
}
.top-navigation:before{
	left:5px !important;
}

.uppercase123 {
    text-transform: uppercase;
}
.forumUpdate{
	padding-top:2px;
	margin-left:35%;
}
.menuicon{
	padding:10px;
	margin-left: 5%;
    margin-top: 3%;
}

.notify{
.list-inline {
	li
	{
		margin-right:15px;
	}
  }
}

.hideblck{
	display:none;
}

.btn .badge {
    position: relative;
    right: 15px !important;
    top: -20px !important;
}

.dropdown-menu {
min-width:220px !important;
}

#alignright {
    left: auto;
    right: -145px !important;
}

.notifydropdown{
	padding-top:5px;
	margin-right:2%;
}

.mycarousel {
	height: 180px;
	width: 800px;
	
	padding: 20px 10px;
}
.mycarousel img {
	margin: 10px 0px;
}
.btn-img{
	background-image: url(../images/fb-btn.png);
	height:50px;
	width:100%;
}
.modal-sm {
.modal-content{
	width:100%;	
	left:1% !important;
}
}

.modal-footer{
	border: 0px solid #ffffff !important;
}
.mobile-clear{
	clear:both;
}
.mobile-align{
	margin-left:10% !important;
}
.mobile-align1{
	margin-left:22% !important;
}
.badge-lists span.badge2 {
    position: absolute;
    right: -8px;
    top: -12px;
}
/*--------------Media Queries-------------*/
@media (min-width: 768px) {
  .margint{
 	margin-top:5px;
 	margin-bottom:5px;
 	a {
    
    &:hover {
      background-color: #FFFFFF;
      color: #000;
    }
    }
 }
 .notify{
	 margin-top:1%;
	 margin-right:2%;
 }
 .margint{
 	margin-top:1%
 }	
 
 .home{
 	background-color:#7f6244;
 	color:#FFFFFF;
 	padding:5px 10px;
 	margin-top:10px;
 	margin-right:2%;
 	display:initial;
 }

 .home1{
 	background-color:#7f6244;
 	color:#FFFFFF;
 	padding:5px 10px;
 	margin-top:10px;
 	margin-right:10px;
 	display:initial;
 }
.quote{
	display:none;
}
.quotelabell{
	font-size:30px;
	color:#593a1d;
}
.progresscustom{
	border-radius:5px !important;
	background: none repeat scroll 0 0 #e6c39d !important;
	clear:none;
}
.hideblock{
	display:block;	
}
.wordcloud{
	display:block;	
}
.logoimg{
	display:block;
	margin-left:9%;
	margin-bottom:0%;
	float:left !important;
}
.settingicon{
	display:block;
}
.btn-comp{
	float:none;
}
.btn-gtky{
	width: 180px;
}
.forumUpdate{
	padding-top:2px;
	margin-left:12%;
}
.hideblck{
	display:block;;
}
.notifydropdown{
	padding-top:5px;
	margin-right:2%;
}

.pull-right > .dropdown-menu {
    left: auto;
    right: 0px;
}
.modal-sm {
	.modal-content{
		width:50%;	
		left:20% !important;
	}
}
.mobile-clear{
	clear:none;
}
.mobile-align{
	margin-left:0% !important;
}
.mobile-align1{
	margin-left:0% !important;
}
}


@media (min-width: 992px) {
 .margint{
 	margin-top:5px;
 	margin-bottom:5px;
 	a {
    
    &:hover {
      background-color: #FFFFFF;
      color: #000;
      cursor:pointer;
    }
    }
    li a {
    
    &:hover {
      background-color: #684b2d;
      color: #000;
    }
    }
 }
 .notify{
	 margin-top:1%;
	 margin-right:2%;
 }
 .margint{
 	margin-top:1%
 }	
  
 .home{
 	background-color:#7f6244;
 	color:#FFFFFF;
 	padding:5px 10px;
 	margin-top:10px;
 	margin-right:2%;
 	display:initial;
 }

 .home1{
 	background-color:#7f6244;
 	color:#FFFFFF;
 	padding:5px 10px;
 	margin-top:10px;
 	margin-right:10px;
 	display:initial;
 }
.quote{
	display:none;
}
.progresscustom{
	border-radius:5px !important;
	background: none repeat scroll 0 0 #e6c39d !important;
	clear:none;
}
.hideblock{
	display:block;	
}
.logoimg{
	display:block;
	margin-left:9%;
	margin-bottom:0%;
	float:left !important;
}
.wordcloud{
	display:block;	
}

.settingicon{
	display:block;
}
.btn-comp{
	float:none;
}
.btn-gtky{
	width: 180px;
}
.forumUpdate{
	padding-top:2px;
	margin-left:12%;
}
.hideblck{
	display:block;;
}
.notifydropdown{
	padding-top:5px;
	margin-right:2%;
}
.pull-right > .dropdown-menu {
    left: auto;
    right: 0px;
}
.modal-sm {
	.modal-content{
		width:50%;	
		left:20% !important;
	}
}
.mobile-clear{
	clear:none;
}
.mobile-align{
	margin-left:0% !important;
}
.mobile-align1{
	margin-left:0% !important;
}
}

@media (min-width: 1200px) {
  .margint{
 	margin-top:5px;
 	margin-bottom:5px;
 	a {
    
    &:hover {
      background-color: #FFFFFF;
      color: #000;
    }
    }
 }
 .notify{
	 margin-top:1%;
	 margin-right:2%;
 }
 .margint{
 	margin-top:1%
 }	
  
 .home{
 	background-color:#7f6244;
 	color:#FFFFFF;
 	padding:5px 10px;
 	margin-top:10px;
 	margin-right:2%;
 	display:initial;
 }

 .home1{
 	background-color:#7f6244;
 	color:#FFFFFF;
 	padding:5px 10px;
 	margin-top:10px;
 	margin-right:10px;
 	display:initial;
 }
.quote{
	display:none;
}
.progresscustom{
	border-radius:5px !important;
	background: none repeat scroll 0 0 #e6c39d !important;
	clear:none;
}
.hideblock{
	display:block;	
}
.wordcloud{
	display:block;	
}
.logoimg{
	display:block;
	margin-left:9%;
	margin-bottom:0%;
	float:left !important;
}
.settingicon{
	display:block;
}
.btn-comp{
	float:none;
}
.btn-gtky{
	width: 180px;
}
.forumUpdate{
	padding-top:2px;
	margin-left:12%;
}
.hideblck{
	display:block;;
}
.notifydropdown{
	padding-top:5px;
	margin-right:2%;
}
.pull-right > .dropdown-menu {
    left: auto;
    right: 0px;
}
.modal-sm {
.modal-content{
	width:50%;	
	left:20% !important;
}
}
.mobile-clear{
	clear:none;
}
.mobile-align{
	margin-left:0% !important;
}
.mobile-align1{
	margin-left:0% !important;
}
}
.min-300 {
	min-height: 360px;
}
.home-desc {
	color: #fff;
	font-size:27px;
}
.home-desc {
	q {
		font-weight:normal;
	}
}

.fb-btn-modal {
	width: 75%;
	margin-top:100px;
	margin-left: 13%;
}

.cancel-btn-modal {
	margin-top: 70px;
}

.margin-50 {
	margin-top: 50px;
}
.padd-50 {
	padding-top: 50px;
}
.resend-link {
	a {
		 color: #3498db;
	    cursor: pointer;
	    display: block;
	    font-size: 18px;
	    margin-bottom: 15px;
	    text-decoration: underline;
	}
}
.min-400 {
	min-height: 400px;
}
