<div data-ng-controller="Header1Ctrl" data-ng-include="Header1">
</div>

<!--BANNER START HERE-->
<!--=== Content Part ===-->
<div class="bck-img-why">
  <div class="transperent-why">
    <div class="container content">	
        <ul class="timeline-v1">
            <li>
                <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <img class="img-responsive" src="app-images/AboutUs1.jpg" alt=""/>
                    </div>
                    <div class="timeline-body text-justify">
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                       
                    </div>
                    <div class="timeline-footer">
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-clock-o"></i> March 28, 2014</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <img class="img-responsive" src="app-images/AboutUs-last.jpg" alt=""/>
                    </div>
                    <div class="timeline-body text-justify">
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        
                    </div>
                    <div class="timeline-footer">
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-clock-o"></i> March 28, 2014</li>
                        </ul>
                    </div>
                </div>
            </li>
            
            
            
            
            <li class="clearfix" style="float: none;"></li>
        </ul>
    </div><!--/container-->	
    </div>
    </div>	
    <!-- End Content Part -->
<!--BANNER ENDS HERE-->
  
  
<div data-ng-controller="FooterCtrl" data-ng-include="Footer">
</div>