<div data-ng-controller="Header1Ctrl" data-ng-include="Header1">
</div>

<!--BANNER START HERE-->
<!--=== Content Part ===-->
<div class="bck-img-why">
  <div class="transperent-why">
  <div class="pos-rel">
       <a class=" fixer-about" title="Close" href="#/" >
       <img ng-src="images/close-button1.png" style="width:35px; alt="Close"">
      </a>
     </div>
  <div class="" style="text-align:center; padding:30px;">
    <div id="about-us" class="container content" style="background-color:#fff;">
    
        <div class="row " style="padding:20px 40px;text-align:center;opacity:0.85;">
            The SoulCafe journey is a story of passion for the study of human behavior/psychology, and a belief that “Relationships should be based on connectedness, nuances of each individual’s personalities, life values and all matters that are much deeper than the superficial.  And technology can be an enabler.” Sophia and her team will have more stories to tell – here’s is just the beginning.
        </div>
        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-6"> 
            <div class="row">
                <img class="img-responsive" src="app-images/about-us/story1.jpg" alt=""/>
            </div>
            <div class="row myheight">
                Circa 2002. Sophia Jose, MBA student. Fell headlong in love with a really old soul - Carl Jung. Spent more hours with his books than anything else.
            </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6"> 
            <div class="row">
                <img class="img-responsive" src="app-images/about-us/story2.jpg" alt=""/>
            </div>
            <div class="row myheight">
                Psychographic Profiling – Internship: Consumers - One word that perplexed and enthused her. She interviewed them, watched them, observed them. Yes, with those wide-opened eyes. In amazement!
            </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-6"> 
            <div class="row">
                <img class="img-responsive" src="app-images/about-us/story3.jpg" alt=""  />
            </div>
            <div class="row myheight">
                Part of the corporate world for over a decade, acquired ‘nuances of human behavior’ as her cliché and was an integral part of any technology solutions she suggested to her business.
            </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6"> 
            <div class="row">
                <img class="img-responsive" src="app-images/about-us/story4.jpg" alt=""/>
            </div>
            <div class="row myheight">
                As part of her pet project, Sophia spent many of her weekends observing consumers while they went about their retail therapy sessions at stores like Macy’s, Target, ToysRUs, GAP, Walmart…
            </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-6"> 
                <div class="row">
                    <img class="img-responsive" src="app-images/about-us/Story5.jpg" alt=""/>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6"> 
            <div class="row about-pad">
                Circa 2014. Sophia got bitten by the entrepreneurial bug. With her passion for human behavior, strong acumen for technology and belief that long term relationships should be based on matters that are beyond the superficial – she set out to build SoulCafe with strong support from a core team of like-minded partners.

            </div>
            </div>
        </div>

</div>



       
    </div><!--/container-->	
    </div>
    </div>	
    <!-- End Content Part -->
<!--BANNER ENDS HERE-->
  
  
<div data-ng-controller="FooterCtrl" data-ng-include="Footer">
</div>