<div data-ng-controller="HeaderCtrl" data-ng-include="Header">
</div>
<div class="container-fluid body-pattern ">
    <div class="container my-border body-pattern ">
        <div class="row">
            <div class ="my-border col-xs-12 col-sm-4 col-md-3 gredientSB hideblock" data-ng-controller="SideBarCtrl" data-ng-include="SideBar"></div>

            <div class="col-xs-12 col-sm-8 col-md-9 body-background my-border padding-20px ">

               <div class="alert fade in margin-bottom-40" ng-repeat="gtky in GTKYrequest">

                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h2>{{gtky.first_name}} {{gtky.last_name}} wants to be your friend. </h2>
                <div class="row">
                    <div class="pull-right">
                     <button type="button" class="btn-u" data-ng-click="acceptButtonClick(gtky.SenderId)">Accept</button>
                     <a ng-click="rejectButtonClick(gtky.SenderId)" class="btn-u btn-u-default" type="button">Reject</a>
                 </div>
             </div>
         </div>
     </div>
     <!--End Profile Body-->
 </div>
</div><!--/end row-->

<!--=== End Profile ===-->

</div>
 <!-- End wrapper -->