<div class="wrapper">
    <!--=== Header ===-->    
  <div data-ng-controller="HeaderCtrl" data-ng-include="Header">
</div>
    <!--=== End Header ===-->  


    <!--=== Profile ===-->
    <div class="profile container content" style="border-color:red">
        <div class="row">
            <!--Left Sidebar-->
            <div data-ng-controller="SideBarCtrl" data-ng-include="SideBar">
            </div>
            <!--End Left Sidebar-->
            
          <div class="col-md-9">
            <div class="headline"><h2 class="heading-sm">Add Discussion Topic</h2></div>
             <div class="row pull-right"><a class="btn-u btn-u-default glow " href="#/discussion-topics?discussionid={{discussId}}">View Discussion Forum</a></div>
            
            
            <form id="sky-form4" class="sky-form" name="adminTopic" data-ng-submit="AddTopic(adminTopic.$valid)">
            
            <fieldset>                
            <div class="alert alert-danger fade in" data-ng-show="errMessage">{{errMessage}}</div>
            <div class="alert alert-success fade in" data-ng-show="successmessage">{{successmessage}}</div>
                        <section>
                            <label class="label">Discussion Topic</label>
                            <label class="input">
                                <input type="text" name="subject" id="subject" data-ng-model="topic.title" required>
                            </label>
                        </section>
                        
                        <section>
                            <label class="label">Description</label>
                            <label class="textarea">
                                <textarea rows="4" name="message" id="message" data-ng-model="topic.description" required></textarea>
                            </label>
                        </section>  
                     
					
                    </fieldset>
                    <footer>
                        <button class="btn-u" type="submit" ng-disabled="adminAddDiscussion.$invalid" data-ng-submit="AddDiscussion">Submit</button>
                        <button onclick="window.history.back();" class="btn-u btn-u-default" type="button">Back</button>
                    </footer>
            </form>

            </div>









        </div><!--/end row-->
    </div><!--/container-->    
    <!--=== End Profile ===-->


<!--=== Footer ===-->
 <div data-ng-controller="FooterCtrl" data-ng-include="Footer">
</div>

<!--=== End Footer ===-->




    
</div>
 <!-- End wrapper -->