<div class="wrapper">
    <!--=== Header ===-->    
  <div data-ng-controller="AdminheaderCtrl" data-ng-include="Header">
</div>
    <!--=== End Header ===-->  




    <!--=== Profile ===-->
    <div class="profile container content" style="border-color:red">
        <div class="row">
            <!--Left Sidebar-->
            <div data-ng-controller="SideBarSuperadminCtrl" data-ng-include="SideBarSuperAdmin">
            </div>
            <!--End Left Sidebar-->
            <div class="col-md-9">
            	<h1>Contact-Us Detail View</h1>
            	<!--Basic Table-->
                <div class="row">
                	<div class="col-sm-2">
                		<strong>Name:</strong>
                	</div>
                	<div class="col-sm-8">
                		{{cnctdetail[0].Name}}
                	</div>
                </div>
                <div class="row">
                	<div class="col-sm-2">
                		<strong>Email:</strong>
                	</div>
                	<div class="col-sm-8">
                		{{cnctdetail[0].Email}}
                	</div>
                </div>
                <div class="row">
                	<div class="col-sm-2">
                		<strong>Number:</strong>
                	</div>
                	<div class="col-sm-8">
                		{{cnctdetail[0].Number}}
                	</div>
                </div>
                
                <div class="row">
                	<div class="col-sm-2">
                		<strong>Message:</strong>
                	</div>
                	<div class="col-sm-8">
                		{{cnctdetail[0].Message}}
                	</div>
                </div>
                <!--End Basic Table-->


                </div>
            
           
            
        </div>

    </div>
   


</div>