<div class="wrapper">
    <!--=== Header ===-->    
  <div data-ng-controller="HeaderCtrl" data-ng-include="Header">
</div>
    <!--=== End Header ===-->  

    <!--=== Profile ===-->
    <div class="profile container content" style="border-color:red">
        <div class="row">
            <!--Left Sidebar-->
            <div data-ng-controller="SideBarCtrl" data-ng-include="SideBar">
            </div>
            <!--End Left Sidebar-->
           <!-- Begin Content -->
            <div class="col-md-9">
                <!--Basic Table-->
              

                <div class="headline"><h2>Table Examples</h2></div>
                  
                
                <!--Basic Table-->
                <table class="table">
                    <thead>
                        <tr>
                            <th>CommentId</th>
                            <th class="hidden-sm">Reported By</th>
                            <th>Comments</th>
                             <th>Discussion BoardId</th>
                            <th>Topic title</th>
                            <th>Reported Date</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody ng-repeat=" abusedetails in disscusionAbuseDetails">
                        <tr>
                            <td>{{abusedetails.CommentId}}</td>
                            <td class="hidden-sm">{{abusedetails.ReportedBy}}</td>
                            <td>{{abusedetails.Comments}}</td> 
                            <td>{{abusedetails.Topic}}</td>
                            <td>{{abusedetails.TopicTitle}}</td>
                            <td>{{abusedetails.ReportedDate}}</td>
                            <td>
                                <a class="btn-u btn-u-blue" href="#/discussion?topic={{abusedetails.DiscussionTopicId}}"><i class="fa fa-file-text-o"></i></a>
                                <a class="btn-u btn-u-green" ng-click="appropriateButtonClick(abusedetails.CommentId)"><i class="fa fa-check"></i></a>
                                <a class="btn-u btn-u-red" ng-click="inappropriateButtonClick(abusedetails.CommentId)"><i class="fa fa-times"></i></a>
                                <!-- <a href="#" class="btn-u">Appropriate</a>
                                <a href="#" class="btn-u btn-u-red">InAppropriate</a>
                                 -->
                            </td>                          
                        </tr>
                     
                    </tbody>
                </table>
                <!--End Basic Table-->

        
            </div>
            <!-- End Content -->
        </div>

    </div>
    <!--=== End Profile ===-->

<!--=== Footer ===-->
 <div data-ng-controller="FooterCtrl" data-ng-include="Footer">
</div>
<!--=== End Footer ===-->

</div>
<!--=== End Wrapper ===-->