<div class="wrapper">
    <!--=== Header ===-->    
  <div data-ng-controller="AdminheaderCtrl" data-ng-include="Header">
    </div>
    <!--=== End Header ===-->  
    <div class="profile container content" style="border-color:red">
        <div class="row">
            <!--Left Sidebar-->
            <div data-ng-controller="SideBarSuperadminCtrl" data-ng-include="SideBarSuperAdmin">
            </div>
            <!--End Left Sidebar-->
            
            <div class="col-md-9" >

                <form name="form" class="panel panel-blue margin-bottom-40" ng-submit="saveButtonClick(res)">
                      <div class="panel-body">              
                        <form class="margin-bottom-40" role="form">
                            
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Resend Restriction</label>
                                <div class="col-lg-9">
                                    <label class="select" >
                                        <select class="select-chg" name="location" data-ng-model="res.resend" required  >
                                            <option>1</option> 
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                        </select> Days
                                    </label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Resend Restriction for same user</label>
                                <div class="col-lg-9">
                                    <label class="select" >
                                        <select class="select-chg" name="location" data-ng-model="res.sameresend" required  >
                                            <option>10</option>
                                            <option>20</option>
                                            <option>30</option>
                                            <option>40</option>
                                            <option>50</option>
                                            <option>60</option>
                                            <option>70</option>
                                            <option>80</option>
                                            <option>90</option>
                                            <option>100</option>
                                        </select> Days
                                    </label>
                                </div>
                            </div>
                            
                            <div class="pull-right">
                                 <button type="submit" class="btn-u btn-u-blue" ng-disabled="editprofileform.$invalid">Save</button>
                            </div>
                        </form>
                    </div>
                </form>
            </div>
            </div>
            </div>
            </div>