<div class="wrapper">
    <!--=== Header ===-->    
  <div data-ng-controller="HeaderCtrl" data-ng-include="Header">
</div>
    <!--=== End Header ===-->  

    <!--=== Profile ===-->
    <div class="profile container content" style="border-color:red">
        <div class="row">
            <!--Left Sidebar-->
            <div data-ng-controller="SideBarCtrl" data-ng-include="SideBar">
            </div>
            <!--End Left Sidebar-->
            
            <div class="col-md-9">
			<div class="headline"><h2 class="heading-sm">Discussion Block</h2></div>
                <div class="funny-boxes funny-boxes-top-sea" data-ng-repeat = "discussion in discussions" data-ng-hide="discussion.deleted">
                    <h4>{{discussion.Topic}}</h4>
                    <p>{{discussion.Description}}</p>
                    <p>
                        <a class="btn-u " href="#/admin-topic-list?discussId={{discussion.DiscussionBoardId}}">View</a>
                        <a class="btn-u btn-u-blue" href="#/admin-discussion-edit?discussId={{discussion.DiscussionBoardId}}">Edit</a>
                    	<a class="btn-u btn-u-green"  data-ng-hide="{{discussion.Status == 1}}" data-ng-click="activateForum(discussion.DiscussionBoardId)">Activate</a>
                        <a class="btn-u btn-u-brown" data-ng-show="{{discussion.Status == 1}}" data-ng-click="deactivateForum(discussion.DiscussionBoardId)">Deactivate</a>
                        <a class="btn-u btn-u-red"  data-ng-click="deleteForum(discussion.DiscussionBoardId)" >Delete</a>
                    </p>
                </div>            	
             <pagination items-per-page="pagePerItem" max-size="maxSize " total-items="totalItems" ng-model="currentPage" ng-click="pageChanged()"></pagination>
            </div>
        </div>

    </div>
    <!--=== End Profile ===-->

<!--=== Footer ===-->
 <div data-ng-controller="FooterCtrl" data-ng-include="Footer">
</div>
<!--=== End Footer ===-->

</div>
<!--=== End Wrapper ===-->
