<div data-ng-controller="HeaderCtrl" data-ng-include="Header">
</div>




<div class="container-fluid body-pattern ">
<div class="container my-border body-pattern ">
<div class="row">
<div class ="my-border col-xs-12 col-sm-4 col-md-3 gredientSB hideblock" data-ng-controller="LeftBarpCtrl" data-ng-include="LeftBarOther"></div>

<div class="col-xs-12 col-sm-8 col-md-9 body-background my-border padding-20px ">
            	
            	<div class="alert fade in margin-bottom-40">
                    <div class="row">
                        <div class="col-xs-12 col-md-2">
                            <img class="" ng-src="app-images/hello.jpg" alt="" style="width:100px;height:100px;border-radius:50% !important;float:left;">
                        </div>
                        <div class="col-xs-12 col-md-8">
                            <h2> A Simple Hello is the first Step to great friendships. Say Hello!</h2>
                            <p> Once the request is accepted you could have one to one interactions and understand each other better.</p>
                        </div>
                        <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
                        
                    </div>
                    <div class="row">
                       <div class="pull-right">
                            <button type="button" class="btn-u" data-ng-click="confirmGTKY()">Say Hello</button>
                            <a ng-click="notNow()" class="btn-u btn-u-default" type="button">Not Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/end row-->
    </div><!--/container-->    
    <!--=== End Profile ===-->

 
</div>
 <!-- End wrapper -->
 