<div data-ng-controller="HeaderCtrl" data-ng-include="Header">
</div>




<div class="container-fluid body-pattern ">
<div class="container my-border body-pattern ">
<div class="row">
<div class ="my-border col-xs-12 col-sm-4 col-md-3 gredientSB hideblock" data-ng-controller="LeftBarpCtrl" data-ng-include="LeftBarOther"></div>

<div class="col-xs-12 col-sm-8 col-md-9 body-background my-border padding-20px ">
            	
            	<div class="alert fade in margin-bottom-40">
 
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                     <h2> Do you want us to send a "Get To Know" request to the person for you?</h2>
            <p> Once the request is accepted you could have one to one interactions and understand each other better.</p>
                </div>
                <div class="pull-right">
                 <button type="button" class="btn-u" data-ng-click="confirmGTKY()">Yes</button>
                 <a ng-click="notNow()" class="btn-u btn-u-default" type="button">Not Now</a>
             </div>

           
              

            </div>
        </div><!--/end row-->
    </div><!--/container-->    
    <!--=== End Profile ===-->

 
</div>
 <!-- End wrapper -->
 