<div class="wrapper">
    <!--=== Header ===-->    
  <div data-ng-controller="HeaderCtrl" data-ng-include="Header">
</div>
    <!--=== End Header ===-->  




    <!--=== Profile ===-->
    <div class="profile container content" style="border-color:red">
        <div class="row">
            <!--Left Sidebar-->
            <div data-ng-controller="SideBarCtrl" data-ng-include="SideBar">
            </div>
            <!--End Left Sidebar-->
            
            <div class="col-md-9">
            	<h1 style="background-color:#ed719e;padding:5px;text-align:center;">Motto I Live By - "Dare To Follow Your Dream"</h1>


                 <!-- Our Clients -->
         <div id="clients-flexslider" class="flexslider home clients">
            <div class="headline"><h2>Our Clients</h2></div>    
            <ul class="slides" style="width:3400%; transition-duration:1s; transform-style:translate3d(0px, 0px, 0px);">
                <li style="width: 125.667px; float: left; display: block;">
                    <a href="#">
                        <img src="images/clients/hp_grey.png" alt=""> 
                        <img src="images/clients/hp.png" class="color-img" alt="">
                    </a>
                </li>
                <li style="width: 125.667px; float: left; display: block;">
                    <a href="#">
                        <img src="images/clients/igneus_grey.png" alt=""> 
                        <img src="images/clients/igneus.png" class="color-img" alt="">
                    </a>
                </li>
                <li style="width: 125.667px; float: left; display: block;">
                    <a href="#">
                        <img src="images/clients/vadafone_grey.png" alt=""> 
                        <img src="images/clients/vadafone.png" class="color-img" alt="">
                    </a>
                </li>
                <li style="width: 125.667px; float: left; display: block;">
                    <a href="#">
                        <img src="images/clients/walmart_grey.png" alt=""> 
                        <img src="images/clients/walmart.png" class="color-img" alt="">
                    </a>
                </li>
                <li style="width: 125.667px; float: left; display: block;">
                    <a href="#">
                        <img src="images/clients/shell_grey.png" alt=""> 
                        <img src="images/clients/shell.png" class="color-img" alt="">
                    </a>
                </li>
                <li style="width: 125.667px; float: left; display: block;">
                    <a href="#">
                        <img src="images/clients/natural_grey.png" alt=""> 
                        <img src="images/clients/natural.png" class="color-img" alt="">
                    </a>
                </li>
                <li style="width: 125.667px; float: left; display: block;">
                    <a href="#">
                        <img src="images/clients/aztec_grey.png" alt=""> 
                        <img src="images/clients/aztec.png" class="color-img" alt="">
                    </a>
                </li>
                <li style="width: 125.667px; float: left; display: block;">
                    <a href="#">
                        <img src="images/clients/gamescast_grey.png" alt=""> 
                        <img src="images/clients/gamescast.png" class="color-img" alt="">
                    </a>
                </li>
                <li style="width: 125.667px; float: left; display: block;">
                    <a href="#">
                        <img src="images/clients/cisco_grey.png" alt=""> 
                        <img src="images/clients/cisco.png" class="color-img" alt="">
                    </a>
                </li>
                <li style="width: 125.667px; float: left; display: block;">
                    <a href="#">
                        <img src="images/clients/everyday_grey.png" alt=""> 
                        <img src="images/clients/everyday.png" class="color-img" alt="">
                    </a>
                </li>
                <li style="width: 125.667px; float: left; display: block;">
                    <a href="#">
                        <img src="images/clients/cocacola_grey.png" alt=""> 
                        <img src="images/clients/cocacola.png" class="color-img" alt="">
                    </a>
                </li>
                <li style="width: 125.667px; float: left; display: block;">
                    <a href="#">
                        <img src="images/clients/spinworkx_grey.png" alt=""> 
                        <img src="images/clients/spinworkx.png" class="color-img" alt="">
                    </a>
                </li>
                <li style="width: 125.667px; float: left; display: block;">
                    <a href="#">
                        <img src="images/clients/shell_grey.png" alt=""> 
                        <img src="images/clients/shell.png" class="color-img" alt="">
                    </a>
                </li>
                <li style="width: 125.667px; float: left; display: block;">
                    <a href="#">
                        <img src="images/clients/natural_grey.png" alt=""> 
                        <img src="images/clients/natural.png" class="color-img" alt="">
                    </a>
                </li>
                <li style="width: 125.667px; float: left; display: block;">
                    <a href="#">
                        <img src="images/clients/gamescast_grey.png" alt=""> 
                        <img src="images/clients/gamescast.png" class="color-img" alt="">
                    </a>
                </li>
                <li style="width: 125.667px; float: left; display: block;">
                    <a href="#">
                        <img src="images/clients/everyday_grey.png" alt=""> 
                        <img src="images/clients/everyday.png" class="color-img" alt="">
                    </a>
                </li>
                <li style="width: 125.667px; float: left; display: block;">
                    <a href="#">
                        <img src="images/clients/spinworkx_grey.png" alt=""> 
                        <img src="images/clients/spinworkx.png" class="color-img" alt="">
                    </a>
                </li>
            </ul>
        </div> <!--/flexslider
        <!-- End Our Clients -->




                <!--Profile Body-->
                <div class="profile-body">
                	
                    <!--Service Block v3-->
                    <div class="row margin-bottom-10">
                        <div class="col-sm-6" style="min-height:225px;">
                            <div class="service-block-v3 servive-block-u" style="min-height:250px;">
                                <i class="icon-users"></i>
                                
                                <span class="counter" style="margin-bottom:20px;">{{userData.first_name}} {{userData.last_name}}</span>
                                <span style="color:#FFFFFF;font-size:15px;">Email-Id - {{userData.email}}</span>
                                <p style="color:#FFFFFF;font-size:15px;margin-top:15px;">Mobile No. - {{userData.mobile}}</p>
                                 <p style="color:#FFFFFF;font-size:15px;margin-top:15px;">Location - {{userData.location}}</p>
                                <p style="color:#FFFFFF;font-size:15px;">RelationShip Status - {{userData.relationship_status}}
                                    <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right" ng-show="updateButton" ng-href="#/edit-profile">Edit Profile</a></p>
                                <div class="clearfix margin-bottom-10"></div>
                                
                                           
                            </div>
                        </div>
                        
                        <div class="col-sm-6" style="min-height:225px;">
                            <div class="service-block-v3 servive-block-blue" style="min-height:250px;">
                                <i class="icon-screen-desktop"></i>
                                <h3 style="color:#FFFFFF;">Proffesional Details</h3>
                                 <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right"  ng-hide="updateButton" ng-href="#/linkedin">Update Profile</a>
                                <p style="color:#FFFFFF;font-size:15px;">Current Employment - {{proffesionalDetails.data.CurrentEmployment}}</p>
                                <p style="color:#FFFFFF;font-size:15px;">Current Role - {{proffesionalDetails.data.CurrentRole}}</p>
                                <p style="color:#FFFFFF;font-size:15px;margin-top:10px;">Highest Education - {{proffesionalDetails.data.HighestEducation}}</p>
                                 <p style="color:#FFFFFF;font-size:15px;margin-top:13px;">Endorsed Skills - {{proffesionalDetails.data.Endorsedskills}}</p>
                                        
                            </div>
                        </div>
                    </div><!--/end row-->
                    <!--End Service Block v3-->
                   
                    </div>
                    <hr>
                                        
                </div>
                <!--End Profile Body-->
            </div>
        </div><!--/end row-->
    </div><!--/container-->    
    <!--=== End Profile ===-->


<!--=== Footer ===-->
 <div data-ng-controller="FooterCtrl" data-ng-include="Footer">
</div>

<!--=== End Footer ===-->




    
</div>
 <!-- End wrapper -->