<div class="container" style="margin:10px 10px;">
<form name="fbdataform" class="form-horizontal group-border-dashed"  style="border-radius: 0px;" data-ng-submit="signUp(fbdataform.$valid)">
		
	<div class="form-group row">
		<label class="col-sm-1 col-sm-offset-2 control-label align">First Name</label>
		<div class="col-sm-5">
			<div class="col-sm-6 data-align">{{userData.first_name}}</div>
		</div>
		<button class="col-sm-3 btn btn-primary" ng-click="updateWithLinkedin()"  type="button">Update Profile With Linkedin</button>
	</div>
	<div class="form-group">
		<label class="col-sm-1 col-sm-offset-2 control-label align">Last Name</label>
		<div class="col-sm-6 data-align">{{userData.last_name}}</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 col-sm-offset-2 control-label align">Birthdate</label>
		<div class="col-sm-6 data-align">{{userData.birthdate}}</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 col-sm-offset-2 control-label align">Gender</label>
		<div class="col-sm-6 data-align">{{userData.gender}}</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 col-sm-offset-2 control-label align">Home town</label>
		<div class="col-sm-6 data-align">{{userData.hometown}}</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 col-sm-offset-2 control-label align">Location</label>
		<div class="col-sm-6 data-align">{{userData.location}}</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 col-sm-offset-2 control-label align">Email</label>
		<div class="col-sm-6 data-align">{{userData.email}}</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 col-sm-offset-2 control-label align">Mobile</label>
		<div class="col-sm-6 data-align">{{userData.mobile}}</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 col-sm-offset-2 control-label align">Relationship Status</label>
		<div class="col-sm-6 data-align">{{userData.relationship_status}}</div>
	</div></br></br>
	

</form>
</div>

