<div class="wrapper">
    <!--=== Header ===-->    
  <div data-ng-controller="HeaderCtrl" data-ng-include="Header">
</div>
    <!--=== End Header ===-->  

    <!--=== Profile ===-->
    <div class="profile container content" style="border-color:red">
        <div class="row">
            <!--Left Sidebar-->
            <div data-ng-controller="SideBarCtrl" data-ng-include="SideBar">
            </div>
            <!--End Left Sidebar-->
            
            <div class="col-md-9">

            	<div class="headline"><h1 class="heading-sm">Discussion Block</h1></div>
                <div class="row pull-right">
                    <a class="btn-u btn-u-default glow " href="#/add-forum">Request For New forum</a>
                </div> 
                <div class="alert fade in margin-bottom-40" ng-repeat="diss in discussionData">
                    <div ng-show="diss.show">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <a class="pull-right" href="#/edit-forum?id={{diss.DiscussionBoardId}}"><i class="fa fa-pencil" style="margin-right:5px;" data-ng-show="isAdmin"></i></a>
                    <h4><a href="#/discussion-topics?discussionid={{diss.DiscussionBoardId}}">{{diss.Topic}}</a></h4>
                    <p>{{diss.Description}}</p>
                    <p>
                        <a class="btn-u btn-u-sea" ng-click="joinButtonClick(diss.DiscussionBoardId)" ng-show="diss.join" href="#/discussion-topics?discussionid={{diss.DiscussionBoardId}}">Join</a>
                         <a class="btn-u btn-u-sea"  ng-show="diss.view" href="#/discussion-topics?discussionid={{diss.DiscussionBoardId}}">View</a>
                      <!--    <a class="btn-u btn-u-sea" ng-click="joinButtonClick(diss.DiscussionBoardId)" ng-hide="diss.join  && flag" href="#/discussion-topics?discussionid={{diss.DiscussionBoardId}}">Joinsss{{diss.DiscussionBoardId}}</a> -->


                    </p>
                </div>
                </div>
            </div>
        </div>

    </div>
    <!--=== End Profile ===-->

<!--=== Footer ===-->
 <div data-ng-controller="FooterCtrl" data-ng-include="Footer">
</div>
<!--=== End Footer ===-->

</div>
<!--=== End Wrapper ===-->