<div class="wrapper">
    <!--=== Header ===-->    
  <div data-ng-controller="HeaderCtrl" data-ng-include="Header">
</div>
    <!--=== End Header ===-->  


    <!--=== Profile ===-->
    <div class="profile container content" style="border-color:red">
        <div class="row">
            <!--Left Sidebar-->
            <div data-ng-controller="SideBarCtrl" data-ng-include="SideBar">
            </div>
            <!--End Left Sidebar-->
            
            <div class="col-md-9">
                <!--Profile Body-->
                <div class="profile">
                <div class="profile-body">  
                    <!--Service Block v3-->

                    <div class="alert alert-success fade in" ng-hide="hide">{{abuseSuccessMessage}}</div>

                    <div class="panel panel-profile">

                   
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-comments"></i>{{topicName}}</h2>
                            
                            </div>
                            <div class="panel-body margin-bottom-50" >
                                

                                <div class="media media-v2" data-ng-repeat="comment in comments">
                                    <a class="pull-left" href="#">
                                        <img class="media-object rounded-x" src="images/testimonials/img2.jpg" alt="">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <strong><a href="#">{{comment.first_name}}</a></strong>
                                            <small>{{comment.CommentDateTime}}</small>
                                        </h4>
                                        <p>{{comment.Comment}}.</p>
                                        <ul class="list-inline results-list pull-left">
                                            <li><a href="#">{{comment.likes}} Likes</a></li>
                                         
                                        </ul>    
                                        <ul class="list-inline pull-right">

           
                                <li><a href="" data-ng-click="commentLike({{comment.CommentId}})">
                                    <i data-ng-hide={{comment.likeflag==1}} class="expand-list rounded-x fa fa-heart" data-ng-click="expression"></i><a></li>

                                <li><a >
                                    <i data-ng-show={{comment.likeflag==1}} class="icon-custom icon-sm rounded-2x icon-bg-u fa fa-thumbs-o-up" ></i><a></li>




                                    <li><a data-ng-click="abuseReport(comment.CommentId)"><i class="expand-list rounded-x fa fa-retweet"></i></a></li>

        
                                        </ul>
                                    </div>
                                </div><!--/end media media v2--> 
                                
                                                   
                            </div><!-- comment  -->

                              <div class="media media-v2">
                                    <a class="pull-left" href="#">
                                        <img class="media-object rounded-x" src="images/testimonials/img2.jpg" alt="">
                                    </a>
                                <div class="media-body">
                                            <h4 class="media-heading">
                                                <strong><a href="#">me</a></strong>
                                            </h4>
                                    <form id="sky-form4" class="sky-form" name="adminDiscussion">
                                        <fieldset>     
                                            <label class="textarea">
                                                 <textarea rows="4" name="message" id="message" data-ng-model="comment" ></textarea>
                                            </label>
                                            <button data-ng-click="addcomment()" class="btn-u btn-u-blue">Submit</button>
                                        </fieldset>
                                    </form>
                                 </div>
                                </div><!--/end media media v2--> 

                        </div>  

				</div>
                </div>
                <!--End Profile Body-->
            </div>
        </div><!--/end row-->
    </div><!--/container-->    
    <!--=== End Profile ===-->


<!--=== Footer ===-->
 <div data-ng-controller="FooterCtrl" data-ng-include="Footer">
</div>

<!--=== End Footer ===-->




    
</div>
 <!-- End wrapper -->