<div class="wrapper">
    <!--=== Header ===-->    
  <div data-ng-controller="HeaderCtrl" data-ng-include="Header">
</div>
    <!--=== End Header ===-->  




    <!--=== Profile ===-->
    <div class="profile container content" style="border-color:red">
        <div class="row">
            <!--Left Sidebar-->
            <div data-ng-controller="SideBarCtrl" data-ng-include="SideBar">
            </div>
            <!--End Left Sidebar-->
            
            <div class="col-md-9">
                <!--Profile Body-->
                <div class="profile-body">
                <!-- Discussion Topics -->
                 <div class="row pull-right">
                    <a class="btn-u btn-u-default glow " ng-click="removeUser()" ng-hide="disable">Get Removed</a>
                    <a class="btn-u btn-u-default glow " href="#/add-topic?discussId={{discussionid}}" ng-hide="disable">Add New Topic</a>
                </div> 
                <div class="headline"><h1 class="heading-sm">{{topicName}}</h1></div>
                 <div class="headline"><h3 class="heading-sm">Total Members : {{total}}</h3></div>
                    
                <div class="row">
                <div data-ng-repeat="discussion in discussions">

                        <div class="col-md-6">

                        <div class="alert fade in backWhite">
                            <div class="media media-v2" style="float:left;margin: 0 !important;
                                    padding: 0 !important;">
                            <a class="pull-left" href="#">
                                        <img class="media-object rounded-x" ng-src="{{discussion.Picture}}" alt="">
                                    </a>
                                </div>
                            <h4>Topic: {{discussion.TopicTitle}}</h4>
                            <p>{{discussion.TopicDescription}}</p>
                            <p>
                                 <li style="list-style:none;"><a href="#/discussion?topic={{discussion.DiscussionTopicId}}" ng-hide="disable" style="color:blue"><i class="fa fa-comments" style="margin-right:5px;"></i>Comments ({{discussion.totalComments}})</a></li>
                            </p>
                        </div>
                        </div> 
                   </div>

                 <span ng-if='$index%2!==0' >
                    </div>
                    <div class="row">  
                </span>  

                </div>

                <!-- End  Discussion Topics -->
                </div>
                <!--End Profile Body-->
            </div>
		 </div>
	</div>
	 <!--===End Profile ===-->

<!--=== Footer ===-->
 <div data-ng-controller="FooterCtrl" data-ng-include="Footer">
</div>

<!--=== End Footer ===-->
</div>
</div>
 <!--=== End Wrapper ===-->