<div id="msg" data-ng-controller="HeaderCtrl" data-ng-include="Header">
</div>
    <div class="container-fluid body-pattern ">
        <div class="container my-border body-pattern ">
            <div class="row">
                <div class ="my-border col-xs-12 col-sm-4 col-md-3 gredientSB hideblock" data-ng-controller="SideBarCtrl" data-ng-include="SideBar"></div>

                <div class="col-xs-12 col-sm-8 col-md-9 body-background my-border padding-20px ">
                <!--Profile Body-->
                <div class="profile no-padding">
                <div class="profiled-body no-padding">  
                    
                    <div class="alert alert-{{q.type}} fade in" ng-show="q">{{q.msg}}
         <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
    </div>
                    <div class="panel panel-profile">
                        <div class="headline" style="margin-bottom:5px !important;">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="heading-sm">{{topicName}}</h1>
                                </div>
                                
                            </div>
                           
                        <p style="font-size:18px !important;">{{desc}}</p>
                    </div>

                    <div class="row my-border">
                        <div class="col-md-8">
                            <div >
                                 <h4><a href="#/discussion-list" style="color:#5bc0de;">Discussion List</a> /
                                    <a href="#/discussion-topics?discussionid={{id}}" style="color:#5bc0de;">Discussion topics</a></h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                                    <h1>
                                    <span ng-repeat="rating in ratings"><div star-rating rating-value="rating.current" max="rating.max" on-rating-selected="getSelectedRating(rating)" ng-click="addRating(rating)"></div></span>
                                    </h1>
                        </div>
                        
                    </div>           
                         
                    <div class="panel-body" >
                        <div class="media media-v2" data-ng-repeat="comment in comments">
                            <a class="pull-left" ng-click="otherProfile(comment)">
                                <img class="media-object rounded-x" ng-src="{{imagepath}}{{comment.Picture}}" alt="{{comment.first_name}}" title="{{comment.first_name}}">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <strong><a ng-click="otherProfile(comment)" href="">{{comment.first_name}}</a></strong>
                                    <small>{{comment.CommentDateTime}}</small>
                                </h4>
                                <p>{{comment.Comment}}.</p>
                                <ul ng-show ="{{comment.likes}}" class="list-inline results-list pull-left">
                                    <li><a ng-click="open(comment.CommentId)" style="cursor:pointer;">{{comment.likes}} Cheers</a></li>
                                </ul>
                                <ul ng-hide ="{{comment.likes}}" class="list-inline results-list pull-left">
                                    <li><a style="cursor:pointer;">{{comment.likes}} Cheers</a></li>
                                </ul>     
                                <ul class="list-inline pull-right">
                                    <li data-ng-show="{{comment.likeflag==1}}">
                                        <a title="Liked">
                                        <i class="icon-custom rounded-x icon-bg-u fa fa-thumbs-up" ></i>
                                        </a>
                                    </li>
                                     <li data-ng-hide="{{comment.likeflag==1}}">
                                        <a title="Cheers" data-ng-hide="{{userId == comment.UserId}}" href="" data-ng-click="commentLike({{comment.CommentId}})">
                                        <i class="icon-custom rounded-x icon-bg-grey fa fa-thumbs-up" ></i></a>
                                    </li>
                                    <li data-ng-show="{{userId == comment.UserId}}">
                                        <a href="" title="Delete" data-ng-click="deleteComment({{comment.CommentId}})">
                                        <i class="icon-custom rounded-x icon-bg-grey fa fa-trash-o"></i></a>
                                    </li>
                                    <li data-ng-hide="{{userId == comment.UserId}}">
                                        <a title="Report Abuse" data-ng-click="abuseReport(comment)" style="cursor:pointer;"><i class="icon-custom rounded-x icon-bg-grey fa fa-ban"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!--/end media media v2--> 
                    </div><!-- comment  -->
                    <div class="media media-v2">
                        <a class="pull-left" href="#">
                            <img class="media-object rounded-x" ng-src="{{pict}}" alt="Me" title="Me">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <strong><a href="#">me</a></strong>
                            </h4>
                           <div class="alert alert-{{mod.type}} fade in" ng-show="mod">{{mod.msg}}
         <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
    </div>
                            <form id="sky-form4" class="sky-form" name="adminDiscussion">
                                <fieldset>     
                                    <label class="textarea">
                                        <textarea rows="4" name="message" id="message" data-ng-model="comment" ></textarea>
                                    </label>
                                    <button data-ng-click="addcomment()" class="btn-u btn-u-blue">Submit</button>
                                </fieldset>
                            </form>
                        </div>
                    </div><!--/end media media v2--> 
                </div>  

				</div>
                </div>
                <!--End Profile Body-->
            </div>
        </div><!--/end row-->
    </div><!--/container-->    
    <!--=== End Profile ===-->

</div>
 <!-- End wrapper -->

  <script type="text/ng-template" id="modalLikes.html">
        
         <div class="modal-home-body">
            <div>
              <div class="col-lg-offset-2 col-lg-8 servive-block-light" style="padding:15px 15px 0px 15px;">
              <div class="alert alert-{{q.type}} fade in" ng-show="q">{{q.msg}}
         <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
    </div>
                    <div class="media media-v2" ng-repeat="like in likeData">
                        <a class="pull-left" ng-click="otherProfile({{like.UserId}})">
                            <img class="media-object rounded-x" ng-src="{{imagepath}}{{like.Picture}}" alt="{{like.first_name}} {{like.last_name}}" title="{{like.first_name}} {{like.last_name}}" style="width:50px !important; height:50px !important;">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a ng-click="otherProfile({{like.UserId}})" style="cursor:pointer;">{{like.first_name}} {{like.last_name}}</a>
                            </h4>
                        </div>
                    </div>

                <div class="modal-footer" style="margin-top:0px !important;">
       <div class=" pull-right">
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
      </div>
              </div>
            </div>
            
        </div>

       
    </script>