<div data-ng-controller="HeaderCtrl" data-ng-include="Header">
</div>




<div class="container-fluid body-pattern ">
<div class="container my-border body-pattern ">
<div class="row">
<div class ="my-border col-xs-12 col-sm-4 col-md-3 gredientSB" data-ng-controller="SideBarCtrl" data-ng-include="SideBar"></div>

<div class="col-xs-12 col-sm-8 col-md-9 body-background my-border padding-20px ">
	<accordion close-others="oneAtATime">
        <div class="row">
        <div class="col-xs-12 col-md-6">
    <accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
    <accordion-heading>
            Personal Details <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isFirstOpen, 'glyphicon-chevron-right': !status.isFirstOpen}"></i>
        </accordion-heading>
     <!-- Basic Form -->
                <form name="editprofileform" class="panel panel-blue margin-bottom-40" ng-submit="saveButtonClick(editprofileform.$invalid)">
                    <div class="panel-body">                                                      
                        <form class="margin-bottom-40" role="form">
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">First Name</label>
                                <div class="col-lg-9">
                                    <div class="input-group">
                                      <input type="text" class="form-control" name="name" ng-model="profileDetail.first_name" ng-disabled="true">
                                      <span class="input-group-addon"><i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    
                                </div>
                            </div>
                           <div class="form-group row">
                                <label class="col-lg-3 control-label">Last Name</label>
                                <div class="col-lg-9">
                                    <div class="input-group">
                                      <input type="text" class="form-control" name="name" ng-model="profileDetail.last_name" ng-disabled="true">
                                      <span class="input-group-addon"><i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">I am a </label>
                                <div class="col-lg-9">
                                    <div class="input-group">
                                      <input type="text" class="form-control" name="name" ng-model="profileDetail.gender" ng-disabled="true">
                                      <span class="input-group-addon"><i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">BirthDate</label>
                                <div class="col-lg-9">
                                    <div class="input-group">
                                      <input type="date" class="form-control" name="name" ng-model="profileDetail.birthdate" ng-disabled="true" pattern="dd/MM/YYYY">
                                      <span class="input-group-addon"><i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    
                                </div>
                            </div>
                           <div class="form-group row">
                                <label class="col-lg-3 control-label">Email</label>
                                <div class="col-lg-9">
                                    <div class="input-group">
                                      <input type="email" class="form-control" name="email1" ng-model="profileDetail.email" ng-disabled="true">
                                      <span class="input-group-addon"><i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Where I Live</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="name" ng-model="profileDetail.location">
                                </div>
                            </div>
                            <div class="form-group row">
                            <section>
                                <div class="row">
                                    <div class="col-offset-2 col-sm-4">
                                        <div class="media media-v2" style="float:left;margin: 0 !important;
                                    padding: 0 !important;">
                                        <a class="pull-left" href="#">
                                            <img class="media-object media-object1 rounded-x" ng-src="{{pict}}" alt="">
                                        </a>
                                    </div>
                                    </div>
                                    <div class="col-xs-offset-2 col-sm-6 margin-top-1">
                                       <div class="row row2"> <input type="file" nv-file-select="" uploader="uploader" single /><br/></div>
                                       <button type="button" class="btn btn-success btn-s no-margin" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span>Upload
                        </button> 
                                    </div>
                                </div>
                            
                            
                                                      
                
                        </section>
                    </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Quote I Live By</label>
                                <div class="col-lg-9">
                                    <textarea type="text" class="form-control" name="name" ng-model="profileDetail.Moto"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">In my  own words</label>
                                <div class="col-lg-9">
                                    <textarea type="text" class="form-control" name="name" ng-model="profileDetail.OwnWords"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">About Me</label>
                                <div class="col-lg-9">
                                    <textarea type="text" class="form-control" name="name" ng-model="profileDetail.AboutMe"></textarea>
                                </div>
                            </div>
                             <div class="form-group row">
                                <label class="col-lg-3 control-label">Height</label>
                                <div class="col-lg-9">
                                    <div class="input-group">
                                      <input type="text" class="form-control" name="name" ng-model="profileDetail.Height">
                                      <span class="input-group-addon">cm</span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Food Habits</label>
                                <div class="col-lg-9">
                                    <textarea type="text" class="form-control" name="name" ng-model="profileDetail.FoodHabits"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">View point on Drinking</label>
                                <div class="col-lg-9">
                                    <textarea type="text" class="form-control" name="name" ng-model="profileDetail.Drinking"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">View point on Smoking</label>
                                <div class="col-lg-9">
                                    <textarea type="text" class="form-control" name="name" ng-model="profileDetail.Smoking"></textarea>
                                </div>
                            </div>
                            <h4>{{errMessage}}</h4>
                            <button type="submit" class="btn-u btn-u-blue" ng-disabled="editprofileform.$invalid">Save</button>
                        </form>
                    </div>
                </form>
                <!-- End Basic Form -->
      
    </accordion-group>
    </div>
     <div class="col-xs-12 col-md-6">
    <accordion-group is-open="status.isSecondOpen" >
    	<accordion-heading>
            Proffessional Details <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isSecondOpen, 'glyphicon-chevron-right': !status.isSecondOpen}"></i>
        </accordion-heading>
        <div class="container" id="appBody">
            <div class="container-fixed">
                <div class="hero-unit" style="margin-top:10px;" ng-hide="updateButton">
                    <script type="in/Login" ></script>
                </div>
             </div>
        </div>



        <form name="editprofileform" class="panel panel-blue margin-bottom-40" ng-submit="saveButtonClick(editprofileform.$invalid)" ng-show="disable">
                    <!-- <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-tasks"></i> Basic Form</h3>
                    </div> -->
                    <div class="panel-body">                                                      
                        <form class="margin-bottom-40" role="form">
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Current Employment</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="cemployee" ng-model="profileDetail.CurrentEmployment" ng-disabled="disable">
                                </div>
                            </div>
                             <div class="form-group row">
                                <label class="col-lg-3 control-label">Highest Education</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="education" ng-model="profileDetail.HighestEducation" ng-disabled="disable">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Endorsed Skills</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="skill" ng-model="profileDetail.Endorsedskills" ng-disabled="disable">
                                </div>
                            </div>
                            <h4>{{errMessage}}</h4>
                            <button type="submit" class="btn-u btn-u-blue" ng-disabled="editprofileform.$invalid">Save</button>
                        </form>
                    </div>
                </form>
                <!-- End Basic Form -->
                 <form name="editprofileform" class="panel panel-blue margin-bottom-40" ng-submit="saveButtonClick(editprofileform.$invalid)" ng-hide="disable">
                      <div class="panel-body">                                                      
                        <form class="margin-bottom-40" role="form">
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Current Employment</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="cemployee" ng-model="profileDetail.CurrentEmployment">
                                </div>
                            </div>
                             <div class="form-group row">
                                <label class="col-lg-3 control-label">Highest Education</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="education" ng-model="profileDetail.HighestEducation">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Endorsed Skills</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="skill" ng-model="profileDetail.Endorsedskills">
                                </div>
                            </div>
                            <h4>{{errMessage}}</h4>
                            <button type="submit" class="btn-u btn-u-blue" ng-disabled="editprofileform.$invalid">Save</button>
                        </form>
                    </div>
                </form>
                <!-- End Basic Form -->
    </accordion-group>
    </div>
        </div>
    <div class="row margin-top-2">
        <div class="col-md-6">

    <accordion-group is-open="status.isThirdOpen">
        <accordion-heading>
           Soul Questionnaire <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isThirdOpen, 'glyphicon-chevron-right': !status.isThirdOpen}"></i>
        </accordion-heading>
         <div class="alert fade in margin-bottom-40" ng-repeat="question in questions">
             <h4><a href="#/discussion-topics?discussionid={{question.QuestionTitle}}">{{question.QuestionTitle}}</a></h4>
            <p>{{question.Description}}</p>                    
            <p>
                <a class="btn-u btn-u-sea  " href="#/question-edit?qid={{question.Qid}}">Retake</a>
            </p>
               
        </div>
    </accordion-group>
    </div>
<div class="col-md-6">
    <accordion-group is-open="status.isFourthOpen">
        <accordion-heading>
            Account Details <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isFourthOpen, 'glyphicon-chevron-right': !status.isFourthOpen}"></i>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
    </accordion-group>
</div>
    </div>
  </accordion>

</div>


</div>	

</div>
</div>