<div data-ng-controller="HeaderCtrl" data-ng-include="Header">
</div>




<div class="container-fluid body-pattern ">
<div class="container my-border body-pattern ">
<div class="row">
<div class ="my-border col-xs-12 col-sm-4 col-md-3 gredientSB hideblock" data-ng-controller="SideBarCtrl" data-ng-include="SideBar"></div>

<div class="col-xs-12 col-sm-8 col-md-9 body-background my-border padding-20px ">
    
	<accordion close-others="oneAtATime">
        <div class="row">
        <div class="col-xs-12 col-md-6">
    <accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
    <accordion-heading>
            Personal Details <i style="margin-top:4px;" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isFirstOpen, 'glyphicon-chevron-right': !status.isFirstOpen}"></i>
        </accordion-heading>
     <!-- Basic Form -->
                <form name="editprofileform" class="panel panel-blue margin-bottom-40" ng-submit="saveButtonClick(editprofileform.$invalid)">
                    <div class="panel-body">                                                      
                        <form class="margin-bottom-40" role="form">
                        <div class="row" ng-show="errorMessage">
							<div class="col-md-12">
							<div class="alert alert-danger fade in">
						      {{errorMessage}}
						    </div>
							</div>
						</div>
                <div class="alert alert-success fade in" ng-show="q">{{q.msg}}
                     <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                </div>
                        
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">First Name</label>
                                <div class="col-lg-9">
                                   
                                      <input type="text" class="form-control" name="name" ng-model="profileDetail.first_name" ng-disabled="true">
                                      
                                    
                                </div>
                            </div>
                           <div class="form-group row">
                                <label class="col-lg-3 control-label">Last Name</label>
                                <div class="col-lg-9">
                                    
                                      <input type="text" class="form-control" name="name" ng-model="profileDetail.last_name" ng-disabled="true">
                                      
                                    
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">I am a </label>
                                <div class="col-lg-9">
                                    
                                      <input type="text" class="form-control" name="name" ng-model="profileDetail.gender" ng-disabled="true">
                                      
                                    
                                </div>
                            </div>
                              <div class="form-group row">
                                <label class="col-lg-3 control-label">Email</label>
                                <div class="col-lg-9">
                                    <div class="input-group">
                                      <input type="email" class="form-control" name="email1" ng-model="profileDetail.email" ng-disabled="true">
                                      <span class="input-group-addon" title="Private"><i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div  name="DateOfBirth" ng-required="true"></div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">BirthDate</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="name" ng-model="profileDetail.birthdate" ui-date="dateOptions" required>
                                    <span class="color-brown-light">We do not share your date of birth, only your age is displayed.</span> 
                                </div>
                            </div>
                         
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Relationship Status </label>
                                <div class="col-lg-9">
                                   
                                      <input type="text" class="form-control" name="name" ng-model="profileDetail.relationship_status" ng-disabled="true">
                                      
                                    
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Belief System </label>
                                <div class="col-lg-9">
                                   
                                      <input type="text" class="form-control" name="name" ng-model="religion" ng-disabled="true">
                                      
                                    
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Where I Live</label>
                                <div class="col-lg-9">
                                    <select name="Location" ui-select2="{width:'100%'}" data-ng-model="profileDetail.location" data-placeholder="-----Choose ----">
                                        <option></option>
                                        
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#000000"><i>-Top Metropolitan Cities-</i></font></option>
                                    <option>Ahmedabad</option> 
                                    <option>Bengaluru/Bangalore</option>
                                    <option>Chandigarh</option>
                                    <option>Chennai</option>
                                    <option>Delhi</option>
                                    <option>Gurgaon</option>
                                    <option>Hyderabad/Secunderabad</option>
                                    <option>Kolkatta</option>
                                    <option>Mumbai</option>
                                    <option>Noida</option>
                                    <option>Pune</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Andhra Pradesh-</i></font></option>
                                    <option>Anantapur</option>
                                    <option>Guntakal</option>
                                    <option>Guntur</option>
                                    <option>Hyderabad/Secunderabad</option>
                                    <option>kakinada</option>
                                    <option>kurnool</option>
                                    <option>Nellore</option>
                                    <option>Nizamabad</option>
                                    <option>Rajahmundry</option>
                                    <option>Tirupati</option>
                                    <option>Vijayawada</option>
                                    <option>Visakhapatnam</option>
                                    <option>Warangal</option>
                                    <option>Andra Pradesh-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Arunachal Pradesh-</i></font></option>
                                    <option>Itanagar</option>
                                    <option>Arunachal Pradesh-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Assam-</i></font></option>
                                    <option>Guwahati</option>
                                    <option>Silchar</option>
                                    <option>Assam-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Bihar-</i></font></option>
                                    <option>Bhagalpur</option>
                                    <option>Patna</option>
                                    <option>Bihar-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Chhattisgarh-</i></font></option>
                                    <option>Bhillai</option>
                                    <option>Bilaspur</option>
                                    <option>Raipur</option>
                                    <option>Chhattisgarh-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Goa-</i></font></option>
                                    <option>Panjim/Panaji</option>
                                    <option>Vasco Da Gama</option>
                                    <option>Goa-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Gujarat-</i></font></option>
                                    <option>Ahmedabad</option>
                                    <option>Anand</option>
                                    <option>Ankleshwar</option>
                                    <option>Bharuch</option>
                                    <option>Bhavnagar</option>
                                    <option>Bhuj</option>
                                    <option>Gandhinagar</option>
                                    <option>Gir</option>
                                    <option>Jamnagar</option>
                                    <option>Kandla</option>
                                    <option>Porbandar</option>
                                    <option>Rajkot</option>
                                    <option>Surat</option>
                                    <option>Vadodara/Baroda</option>
                                    <option>Valsad</option>
                                    <option>Vapi</option>
                                    <option>Gujarat-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Haryana-</i></font></option>
                                    <option>Ambala</option>
                                    <option>Chandigarh</option>
                                    <option>Faridabad</option>
                                    <option>Gurgaon</option>
                                    <option>Hisar</option>
                                    <option>Karnal</option>
                                    <option>Kurukshetra</option>
                                    <option>Panipat</option>
                                    <option>Rohtak</option>
                                    <option>Haryana-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Himachal Pradesh-</i></font></option>
                                    <option>Dalhousie</option>
                                    <option>Dharmasala</option>
                                    <option>Kulu/Manali</option>
                                    <option>Shimla</option>
                                    <option>Himachal Pradesh-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Jammu and Kashmir-</i></font></option>
                                    <option>Jammu</option>
                                    <option>Srinagar</option>
                                    <option>Jammu and Kashmir-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Jharkhand-</i></font></option>
                                    <option>Bokaro</option>
                                    <option>Dhanbad</option>
                                    <option>Jamshedpur</option>
                                    <option>Ranchi</option>
                                    <option>Jharkhand-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Karnataka-</i></font></option>
                                    <option>Bengaluru/Bangalore</option>
                                    <option>Belgaum</option>
                                    <option>Bellary</option>
                                    <option>Bidar</option>
                                    <option>Dharwad</option>
                                    <option>Gulbarga</option>
                                    <option>Hubli</option>
                                    <option>Kolar</option>
                                    <option>Mangalore</option>
                                    <option>Mysoru/Mysore</option>
                                    <option>Karnataka-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Kerala-</i></font></option>
                                    <option>Calicut</option>
                                    <option>Cochin</option>
                                    <option>Ernakulam</option>
                                    <option>Kannur</option>
                                    <option>Kochi</option>
                                    <option>Kollam</option>
                                    <option>Kottayam</option>
                                    <option>Kozhikode</option>
                                    <option>Palakkad</option>
                                    <option>Palghat</option>
                                    <option>Thrissur</option>
                                    <option>Trivandrum</option>
                                    <option>Kerela-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Madhya Pradesh-</i></font></option>
                                    <option>Bhopal</option>
                                    <option>Gwalior</option>
                                    <option>Indore</option>
                                    <option>Jabalpur</option>
                                    <option>Ujjain</option>
                                    <option>Madhya Pradesh-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Maharashtra-</i></font></option>
                                    <option>Ahmednagar</option>
                                    <option>Aurangabad</option>
                                    <option>Jalgaon</option>
                                    <option>Kolhapur</option>
                                    <option>Mumbai</option>
                                    <option>Mumbai Suburbs</option>
                                    <option>Nagpur</option>
                                    <option>Nasik</option>
                                    <option>Navi Mumbai</option>
                                    <option>Pune</option>
                                    <option>Solapur</option>
                                    <option>Wardha</option>
                                    <option>Maharashtra-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Manipur-</i></font></option>
                                    <option>Imphal</option>
                                    <option>Manipur-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Meghalaya-</i></font></option>
                                    <option>Shillong</option>
                                    <option>Meghalaya-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Mizoram-</i></font></option>
                                    <option>Aizawal</option>
                                    <option>Mizoram-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Nagaland-</i></font></option>
                                    <option>Dimapur</option>
                                    <option>Nagaland-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Orissa-</i></font></option>
                                    <option>Bhubaneshwar</option>
                                    <option>Cuttak</option>
                                    <option>Paradeep</option>
                                    <option>Puri</option>
                                    <option>Rourkela</option>
                                    <option>Orissa-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Punjab-</i></font></option>
                                    <option>Amritsar</option>
                                    <option>Bathinda</option>
                                    <option>Chandigarh</option>
                                    <option>Jalandhar</option>
                                    <option>Ludhiana</option>
                                    <option>Mohali</option>
                                    <option>Pathankot</option>
                                    <option>Patiala</option>
                                    <option>Punjab-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Rajasthan-</i></font></option>
                                    <option>Ajmer</option>
                                    <option>Jaipur</option>
                                    <option>Jaisalmer</option>
                                    <option>Jodhpur</option>
                                    <option>Kota</option>
                                    <option>Udaipur</option>
                                    <option>Rajasthan-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Sikkim-</i></font></option>
                                    <option>Gangtok</option>
                                    <option>Sikkim-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Tamil Nadu-</i></font></option>
                                    <option>Chennai</option>
                                    <option>Coimbatore</option>
                                    <option>Cuddalore</option>
                                    <option>Erode</option>
                                    <option>Hosur</option>
                                    <option>Madurai</option>
                                    <option>Nagerkoil</option>
                                    <option>Ooty</option>
                                    <option>Salem</option>
                                    <option>Thanjavur</option>
                                    <option>Tirunalveli</option>
                                    <option>Trichy</option>
                                    <option>Tuticorin</option>
                                    <option>Vellore</option>
                                    <option>Tamil Nadu-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Tripura-</i></font></option>
                                    <option>Agartala</option>
                                    <option>Tripura-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Union Territories-</i></font></option>
                                    <option>Chandigarh</option>
                                    <option>Dadra & Nagar Haveli-Silvassa</option>
                                    <option>Daman & Diu</option>
                                    <option>Delhi</option>
                                    <option>Pondichery</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Uttar Pradesh-</i></font></option>
                                    <option>Agra</option>
                                    <option>Aligarh</option>
                                    <option>Allahabad</option>
                                    <option>Bareilly</option>
                                    <option>Faizabad</option>
                                    <option>Ghaziabad</option>
                                    <option>Gorakhpur</option>
                                    <option>Kanpur</option>
                                    <option>Lucknow</option>
                                    <option>Mathura</option>
                                    <option>Meerut</option>
                                    <option>Moradabad</option>
                                    <option>Noida</option>
                                    <option>Varanasi/Banaras</option>
                                    <option>Uttar Pradesh-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Uttaranchal-</i></font></option>
                                    <option>Dehradun</option>
                                    <option>Roorkee</option>
                                    <option>Uttaranchal-Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-West Bengal-</i></font></option>
                                    <option>Asansol</option>
                                    <option>Durgapur</option>
                                    <option>Haldia</option>
                                    <option>Kharagpur</option>
                                    <option>Kolkatta</option>
                                    <option>Siliguri</option>
                                    <option>West Bengal - Other</option>
                                    <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Other-</i></font></option>
                                    <option>Other</option>
                                    </select>
                                    
                                  </div>
                                </div>
        
                            <div class="form-group row">
                            <section>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="media media-v2" style="float:left;margin: 0 !important;
                                    padding: 0 !important;">
                                        <a class="pull-left" href="#/home">
                                            <img class="media-object media-object1 rounded-x" ng-src="{{pict}}" title="{{profileDetail.first_name}} {{profileDetail.last_name}}" alt="{{profileDetail.first_name}} {{profileDetail.last_name}}" style="height: 100px; width: 100px !important;">
                                        </a>
                                    </div>
                                    </div>
                                    <div class=" col-sm-6 margin-top-1">
                                       <div class="row row2"> <input type="file" nv-file-select="" uploader="uploader" single /><br/></div>
                                       <button type="button" class="btn btn-success btn-s no-margin" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span>Upload
                        </button> 
                                    </div>
                                </div>
                            
                            
                        </section>
                    </div>
                    <div class="padding-bottom row clear" ng-show="imageSucc">
			        <div class="alert alert-success fade in">
			                {{imageSucc}}
			            </div>
			        </div>
			        
			         <div class="padding-bottom row clear" ng-show="imageErr">
				        <div class="alert alert-danger fade in">
				                {{imageErr}}
				         </div>
				        </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">A Quote I Love</label>
                                <div class="col-lg-9">
                                    <textarea type="text" ng-maxlength="110" maxlength="110" class="form-control" name="name" ng-model="profileDetail.Moto"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">In my  own words</label>
                                <div class="col-lg-9">
                                    <textarea type="text" ng-maxlength="500" maxlength="500" class="form-control" name="name" ng-model="profileDetail.OwnWords"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Height</label>
                                <div class="col-lg-9">
                                    <div class="input-group">
                                      <input type="text" class="form-control" name="name" ng-model="profileDetail.Height">
                                      <span class="input-group-addon">ft</span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Food Habits</label>
                                <div class="col-lg-9">
                                     <select name="FoodHabits" ui-select2="{width:'100%'}" data-ng-model="profileDetail.FoodHabits" data-placeholder="-----Choose ----">
                                        <option></option>
                                        <option>Vegetarian</option> 
                                        <option>Non Vegetarian</option>
                                        <option>Eggetarian</option>
                                        <option>Vegan</option>  
                                    </select>
                                    
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Drinking</label>
                                <div class="col-lg-9">
                                    <select name="Drinking" ui-select2="{width:'100%'}" data-ng-model="profileDetail.Drinking" data-placeholder="-----Choose ----">
                                        <option></option>
                                        <option>I don't drink</option>
                                        <option>Mild Social Drinker</option> 
                                        <option>I drink on weekends</option>
                                        <option>I party everyday</option>  
                                    </select>
                                    
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Smoking</label>
                                <div class="col-lg-9">
                                   <select name="Smoking" ui-select2="{width:'100%'}" data-ng-model="profileDetail.Smoking" data-placeholder="-----Choose ----">
                                        <option></option>
                                        <option>I Smoke often</option>
                                        <option>I smoke occassionally</option>
                                        <option>I don't Smoke</option>
                                        <option>I cannot stand smokers</option>  
                                    </select>
        
                                </div>
                            </div>
                            <h4>{{errMessage}}</h4>
                            <div class="col-md-12 color-brown-light" style="font-size:17px;">
                                SoulCafe is about authentic relationships. Be honest as you fill in your details !
                            </div>
                            
                            <div class="pull-right">
                                <button type="submit" class="btn-u btn-u-blue" ng-disabled="disable_save">Save</button>
                            </div>
                                 
                            
                           
                        </form>
                    </div>
                </form>
                <!-- End Basic Form -->
      
    </accordion-group>
    </div>
     <div class="col-xs-12 col-md-6">
    <accordion-group is-open="status.isSecondOpen" >
    	<accordion-heading>
            Professional Details <i style="margin-top:4px;" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isSecondOpen, 'glyphicon-chevron-right': !status.isSecondOpen}"></i>
        </accordion-heading>
         <div class="alert alert-success fade in" ng-show="pq">{{pq.msg}}
                     <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
        </div>
        <div class="row" ng-hide="updateButton">
        <div class="col-md-3 padding-top">
        	Get it From-
        </div>
        <div class="col-md-9">
        	  <div class="container" id="appBody">
            <div class="container-fixed">
                <div class="hero-unit" style="margin-top:10px;">
                    <script type="in/Login" ></script> OR Enter Details
                </div>
             </div>
        </div>
        </div>
        </div>
      
		<div class="form-group row" ng-show="updateButton">
	       <label class="col-lg-5 control-label">Update Linkedin Details</label>
	       <div class="col-lg-7">
	          <div class="hero-unit" style="margin-top:10px;">
                    <script type="in/Login" ></script> 
                </div>
	       </div>
	   </div>


        <form name="editlinkedinprofileform" class="panel panel-blue margin-bottom-40" ng-hide="disable">
                    <!-- <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-tasks"></i> Basic Form</h3>
                    </div> -->
                    <div class="panel-body">                                                      
                        <form class="margin-bottom-40" role="form">
                            <div class="form-group row" ng-show="updateButton">
                                <label class="col-lg-3 control-label">Linkedin Profile Url</label>
                                <div class="col-lg-9">
                                   <a target="_blank" style="color:#5bc0de;"href="{{proff.ProfileUrl}}">{{proff.ProfileUrl}}</a> 
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Current Employment</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="cemployee" ng-model="proff.CurrentEmployment" ng-disabled="disable">
                                </div>
                            </div>
                             <div class="form-group row">
                                <label class="col-lg-3 control-label">Highest Education</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="education" ng-model="proff.HighestEducation" ng-disabled="disable">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Roles</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="skill" ng-model="proff.CurrentRole" ng-disabled="disable">
                                </div>
                            </div>
                           
                        </form>
                    </div>
                </form>
                <!-- End Basic Form -->
                 <form name="editlinkedinprofileform" class="panel panel-blue margin-bottom-40" ng-submit="saveLinkedinButtonClick(proff)" ng-show="disable">
                      <div class="panel-body">                                                      
                       
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Current Employment</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="cemployee" ng-model="proff.CurrentEmployment">
                                </div>
                            </div>
                             <div class="form-group row">
                                <label class="col-lg-3 control-label">Highest Education</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="education" ng-model="proff.HighestEducation">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Roles</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="skill" ng-model="proff.CurrentRole">
                                </div>
                            </div>
                            <h4>{{errMessage}}</h4>
                          
                            
                            <div class="pull-right">
                                 <button type="submit" class="btn-u btn-u-blue" ng-disabled="editlinkedinprofileform.$invalid">Save</button>
                            </div>
                       
                    </div>
                </form>
                <!-- End Basic Form -->
    </accordion-group>
    <accordion-group is-open="status.isThirdOpen">
        <accordion-heading><i class="fa fa-lock"></i>
           Soul Questionnaire <i style="margin-top:4px;" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isThirdOpen, 'glyphicon-chevron-right': !status.isThirdOpen}"></i>
        </accordion-heading>
         <div class="alert fade in margin-bottom-40" ng-repeat="question in questions">
            <div class="row">
                <h4>{{question.QuestionTitle}}</h4>
                <div class="pull-right"> <a class="btn-u btn-sea-u" href="#/question-edit?qid={{question.Qid}}">Edit response</i></a></div>
            </div>
           
        </div>
    </accordion-group>
    </div>
        </div>
    <div class="row margin-top-2">
        <!-- <div class="col-md-offset-6 col-md-6">

    <accordion-group is-open="status.isThirdOpen">
        <accordion-heading>
           Soul Questionnaire <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isThirdOpen, 'glyphicon-chevron-right': !status.isThirdOpen}"></i>
        </accordion-heading>
         <div class="alert fade in margin-bottom-40" ng-repeat="question in questions">
             <h4><a href="#/discussion-topics?discussionid={{question.QuestionTitle}}">{{question.QuestionTitle}}</a></h4>
            <p>{{question.Description}}</p>                    
            <p>
                <a class="btn-u btn-u-sea  " href="#/question-edit?qid={{question.Qid}}">Retake</a>
            </p>
               
        </div>
    </accordion-group>
    </div> -->
<!-- <div class="col-md-6">
    <accordion-group is-open="status.isFourthOpen">
        <accordion-heading>
            Account Details <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isFourthOpen, 'glyphicon-chevron-right': !status.isFourthOpen}"></i>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
    </accordion-group>
</div> -->
    </div>
  </accordion>

</div>


</div>	

</div>
</div>