<div data-ng-controller="HeaderCtrl" data-ng-include="Header">
</div>




<div class="container-fluid body-pattern ">
<div class="container my-border body-pattern ">
<div class="row">
<div class ="my-border col-xs-12 col-sm-4 col-md-3 gredientSB" data-ng-controller="SideBarCtrl" data-ng-include="SideBar"></div>

<div class="col-xs-12 col-sm-8 col-md-9 body-background my-border padding-20px ">
	<div class="headline margin-right-12p"><h1 class="heading-sm">Buddies List</h1></div>
	<div class="">
        <div class="marginleft clearfix margin-right-12p">
            <div class="row" style="margin:10px;" ng-repeat="frnd in friends">
            	<div class="row" style="padding-bottom:5px !important;border-bottom:1px solid #e4e9f0;">
            		<img class="rounded-x" ng-src="{{imagepath}}{{frnd.Picture}}" alt="" style="width:100px;height:auto;float:left;">
                <div class="friendN">
                    <div class="color-brown-light" style="font-size:20px;"><strong>{{frnd.first_name}} {{frnd.last_name}}</strong></div>
                    <div>{{frnd.location}}, {{frnd.hometown}}</div>
                    <a href="#/reply-message?sid={{frnd.user_id}}"><i class="fa fa-1x fa-comment-o"></i> Send Message</a>
                    

                </div>
            	</div>
                
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>