<div data-ng-controller="HeaderCtrl" data-ng-include="Header">
</div>




<div class="container-fluid body-pattern ">
<div class="container my-border body-pattern ">
<div class="row">
<div class ="my-border col-xs-12 col-sm-4 col-md-3 gredientSB" data-ng-controller="SideBarCtrl" data-ng-include="SideBar"></div>

<div class="col-xs-12 col-sm-8 col-md-9 body-background my-border padding-20px ">
     <div class="panel panel-profile">
        <div class="headline">
        <h1 class="heading-sm"> Buddies List</h1>
    </div>
    <div class="padding-bottom row clear" ng-show="{{status == 1}}">
        <div class="alert alert-success fade in">
                Your brewing request is sent !!!!
        </div>
    </div>
	<div class="">
        <div class="marginleft clearfix margin-right-12p">
            <div class="row" style="margin:10px;" ng-repeat="frnd in friends">
            	<div class="row" style="padding-bottom:5px !important;border-bottom:1px solid #e4e9f0;">
            		<img class="rounded-x" ng-src="{{imagepath}}{{frnd.Picture}}" alt="" style="width:100px;height:100px;float:left;">
                <div class="friendN">
                    <div class="color-brown-light" style="font-size:20px;"><strong>{{frnd.first_name}} {{frnd.last_name}}</strong></div>
                    <div>{{frnd.location}}, {{frnd.hometown}}</div>
                    <div class="row"> 
                    	<div class="col-xs-1">
                    	 	<a title="Send message" href="#/reply-message?sid={{frnd.user_id}}"><i class="fa fa-lg fa-comment-o"></i></a>
                    	</div>
                    	<div class="col-xs-1 no-padding">
		                    <a title="Express your  special feeling" href="#/special-feeling-request?user_id={{frnd.user_id}}">
		                    <img ng-src="images/heart.jpg" alt="" style="width:20px;height:20px;float:left;">
		                    </a>
                    	</div>
                    </div>
                   
                    

                </div>
            	</div>
                
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>