<div class="container-fluid no-padding">
	<div class="row cheader">

		<div class="col-xs-12 col-sm-12 col-md-12 margint no-padding">
			

			<div class="col-xs-1 no-padding hidden-sm visible-xs">
			    
			    <button type="button" class="navbar-toggle top-navbar-toogle no-margin no-padding"  data-toggle="collapse" data-target=".top-navigation"><img src="images/menu2.png" style="width:20px;top:55px !important;"></button>
			        <ul class="nav collapse top-navigation" style="top:55px !important;">
			            <li><a href="#">Home </a></li>
			            <li><a href="#">My Profile</a></li>
			            <li><a href="#">Settings</a></li>
			            <li><a href="#">Logout</a></li>
			            <div class="clearfix"></div>
			        </ul>
			              
	        </div>
	        <div class="pull-left logoimg"><img src="images/logo_soul.png" alt="" ></div>


			<div class="dropdown pull-right settingicon" style="padding-top:5px;">
			  <button class="btn dropdown-toggle bcolor-brown" type="button" id="dropdownMenu1" data-toggle="dropdown">
			    <div class="color-white"><i class="fa fa-cog fa-lg"><span class="caret" style="margin-left:5px;"></span></i></div>
			    
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
			  </ul>
			</div>


			<div class="pull-right notify no-padding">
				<ul class="list-inline badge-lists badge-icons">
			        <li>
			            <a href="#"><i class="fa fa-envelope-o fa-2x color-white"></i></a>
			            <span class="badge badge-yellow rounded-x">2</span>
			        </li>
			        <li>
			            <a href="#"><i class="fa fa-comments fa-2x color-white"></i></a>
			            <span class="badge badge-dark-blue rounded">9</span>
			        </li>
			        <li>
			            <a href="#"><i class="fa fa-globe fa-2x color-white"></i></a>
			            <span class="badge badge-red rounded-x">4</span>
			     	</li>
			    </ul>
			</div>

			<a class="pull-right home"><strong>Home</strong></a>
			<a class="pull-right home1" > 
				<img class="rounded-x" src="images/img1.jpg" alt="" style="width:20px;height:auto;">
				<strong>James Smith</strong>
			</a>

			

		</div>
	</div>

</div>