<div class="container-fluid no-padding">
	<div class="row cheader">

		<div class="col-xs-12 col-sm-12 col-md-12 margint no-padding">
			

			<div class="col-xs-1 no-padding hidden-sm visible-xs menuicon">
			    
			    <button type="button" class="navbar-toggle top-navbar-toogle no-margin no-padding"  data-toggle="collapse" data-target=".top-navigation"><img src="images/menu.png" style="width:30px;top:55px !important;"></button>
			        <ul class="nav collapse top-navigation" style="top:55px !important;">
			            <li><a href="#">Home </a></li>
			            <li><a href="#">My Profile</a></li>        
			            <li><a href="#">Interests</a></li>
			            <li><a href="#">Forums</a></li>
			            <li><a href="#">Friends</a></li>
			            <li><a href="#">Edit Profile</a></li>
			            <li><a href="#">Complete Verification</a></li>
			            <li><a href="#">Settings</a></li>
			            <li><a href="#">Logout</a></li>
			            <div class="clearfix"></div>
			        </ul>
			              
	        </div>
	        <div class="pull-left logoimg"><img src="images/logo_soul.png" alt="" ></div>


			<div class="dropdown pull-right settingicon" style="padding-top:5px;">
			  <button class="btn dropdown-toggle bcolor-brown" type="button" id="dropdownMenu1" data-toggle="dropdown">
			    <div class="color-white"><i class="fa fa-cog fa-lg"><span class="caret" style="margin-left:5px;"></span></i></div>
			    
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Settings</a></li>
			    <li role="presentation" data-ng-controller="LoginCtrl"><a role="menuitem" tabindex="-1" href="#" data-ng-click="logout()">Logout</a></li>
			  </ul>
			</div>




			<div class="pull-right notify no-padding">
				<ul class="list-inline badge-lists badge-icons">

			        <li>
			            <a ng-click="sysMessage()" class="rounded my-pointer"><i class="fa fa-envelope-o fa-2x color-white"></i></a>
			            <span class="badge badge-yellow rounded-x" ng-show="totalSysMessage">{{totalSysMessage}}</span>
			        </li>
			        <li>
			            <a ng-click="Message()" class="rounded my-pointer"><i class="fa fa-comments fa-2x color-white"></i></a>
			            <span class="badge badge-blue rounded-x" ng-show="totalMessage">{{totalMessage}}</span>
			        </li>
			        <li>
			            <a ng-click="forumMessage()" class="rounded my-pointer"><i class="fa fa-globe fa-2x color-white"></i></a>
			            <span class="badge badge-red rounded-x" ng-show="totalForumMessage">{{totalForumMessage}}</span>
			     	</li>
			    </ul>
			</div>

<div class="pull-right notice_pop" data-ng-show="popup">    
    	<div class="alert alert-success fade in no-bottom" data-ng-repeat = "message in messages">
    	<a href="#/{{message.Link}}" style="display:block; text-decoration:none;">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{message.Message}}
             {{message.mess}}
        </a>
        </div>
</div>


			<a class="pull-right home"><strong>Home</strong></a>
			<a class="pull-right home1" > 
				<img class="rounded-x" ng-src="{{pic}}" alt="" style="width:20px;height:auto;">
				<strong>{{datau.userName}} {{datau.lastName}}</strong>
			</a>

			

		</div>
	</div>

</div>