<div class="container-fluid no-padding cheader ">
    <div class="container my-border  ">

        <div class="row margint no-padding my-border ">
            

            <div class="col-xs-1 no-padding hidden-sm visible-xs menuicon">
                
                <button type="button" class="navbar-toggle top-navbar-toogle no-margin no-padding"  data-toggle="collapse" data-target=".top-navigation"><img src="images/menu-new.png" title="Menu icon" alt="Menu icon" style="width:30px;top:55px !important;"></button>
                    <ul class="nav collapse top-navigation" style="top:55px !important;">
                        <li><a href="#/home">Home </a></li>
                        <li><a href="#/myprofile">My Profile</a></li>        
                        <!-- <li><a href="#">Interests</a></li> -->
                        <li><a href="#/discussion-list">Forums</a></li>
                        <li><a href="#/friends">Friends</a></li>
                        <li><a href="#/edit-profile-new">Edit Profile</a></li>
                        <!--  <li><a href="#">Complete Verification</a></li>-->
                        <!--  <li><a href="#">Settings</a></li>-->
                        <li><a href="#" data-ng-click="logout()">Logout</a></li>
                        <div class="clearfix"></div>
                    </ul>
                          
            </div>
            <div class="col-md-1 hideblock">
            	<div class="pull-left  "><img src="images/logo_soul.png" alt="Logo" title="Logo" ></div>
            </div>

			 <div class="col-md-6 col-xs-10 pull-right">
            <div class="dropdown pull-right settingicon" style="padding-top:8px;">
              <a class="btn dropdown-toggle bcolor-brown no-paddi ng" type="button" id="dropdownMenu1" data-toggle="dropdown">
                <div class="color-white"><i class="fa fa-cog fa-2x" style="font-size:25px !important;"><span class="caret" style="margin-left:5px;"></span></i></div>
                
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#/home">Settings</a></li>
                <li role="presentation" data-ng-controller="LoginCtrl"><a role="menuitem" tabindex="-1" href="#" data-ng-click="logout()">Logout</a></li>
              </ul>
            </div>



			<div class="message-list pull-right ">
			<ul class="list-inline badge-lists badge-icons ">
                <li class="dropdown">
              <a title="System notification" class="dropdown-toggle" ng-click="sysMessage()" type="button" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-globe fa-2x color-white"></i>
              </a>
              <span class="badge badge-green rounded-x" ng-show="totalSysMessage">{{totalSysMessage}}</span>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <div class="alert alert-success fade in no-bottom" data-ng-repeat = "message in messages">
                <a href="#/{{message.Link}}" style="display:block; text-decoration:none;">
                    
                    
                     {{message.mess}}
                </a>
                </div>
              </ul>
                </li>
                
                
                <li class="dropdown">
                    <a title="Message" class="dropdown-toggle" ng-click="Message()"><i class="fa fa-2x fa-envelope-o color-white"></i></a>
                    <span ng-show="totalMessage" class="badge badge-dark-blue rounded">{{totalMessage}}</span>
                	 <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
		                <div class="alert alert-success fade in no-bottom" data-ng-repeat = "message in messages">
		                <a href="#/{{message.Link}}" style="display:block; text-decoration:none;">
		                     {{message.mess}}
		                </a>
		                </div>
		              </ul>
                </li>
                <li class="dropdown">
                    <a title="Forum notification" class="dropdown-toggle" ng-click="forumMessage()"><i class="fa fa-2x fa-comments color-white"></i></a>
                    <span ng-show="totalForumMessage" class="badge badge-red rounded-x">{{totalForumMessage}}</span>
                	 <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
		                <div class="alert alert-success fade in no-bottom" data-ng-repeat = "message in messages">
		                <a href="#/{{message.Link}}" style="display:block; text-decoration:none;">
		                     {{message.mess}}
		                </a>
		                </div>
		              </ul>
                
                </li>
                               
            </ul>
			
			</div>



         <!--     <div class="dropdown pull-right notifydropdown">
              <a class="btn dropdown-toggle rounded my-pointer bcolor-brown" ng-click="forumMessage()" type="button" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-globe fa-2x color-white"></i>
                 <span class="badge badge-red rounded-x" ng-show="totalForumMessage">{{totalForumMessage}}</span>
              </a>
              <ul class="dropdown-menu" id=" alignright" role="menu" aria-labelledby="dropdownMenu1">
                <div class="alert alert-success fade in no-bottom" data-ng-repeat = "message in messages">
                <a href="#/{{message.Link}}" style="display:block; text-decoration:none;">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{message.Message}}
                     {{message.mess}}
                </a>
                </div>
              </ul>
            </div>  

            <div class="dropdown pull-right alignright1" style="padding-top:5px;">
              <a class="btn dropdown-toggle rounded my-pointer bcolor-brown" ng-click="Message()" type="button" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-comments fa-2x color-white"></i>
                 <span class="badge badge-green rounded-x" ng-show="totalMessage">{{totalMessage}}</span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <div class="alert alert-success fade in no-bottom" data-ng-repeat = "message in messages">
                <a href="#/{{message.Link}}" style="display:block; text-decoration:none;">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{message.Message}}
                     {{message.mess}}
                </a>
                </div>
              </ul>
            </div>-->

 

            

                





<!-- <div class="pull-right notice_pop" data-ng-show="popup">    
        <div class="alert alert-success fade in no-bottom" data-ng-repeat = "message in messages">
        <a href="#/{{message.Link}}" style="display:block; text-decoration:none;">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{message.Message}}
             {{message.mess}}
        </a>
        </div>
</div> -->


            <a ng-class="{'pull-right home':true,'bcolor-white':defaulth}" href="#/home"><strong>Home</strong></a>
            <a ng-class="{'pull-right home1':true,'bcolor-white':defaultp}" href="#/myprofile" > 
                <img class="rounded-x" ng-src="{{pict}}" title="{{datau.first_name}} {{datau.last_name}}" alt="{{datau.first_name}} {{datau.last_name}}" style="width:20px;height:20px;">
                <strong>{{datau.first_name}} {{datau.last_name}}</strong>
            </a>

         </div>   

        </div>
    </div>

</div>

