<div data-ng-controller="HeaderCtrl" data-ng-include="Header">
</div>
<div class="row margin-right-0 body-background">
	<div data-ng-controller="SideBarCtrl" data-ng-include="SideBar">
            </div>

<div class="col-xs-12 col-sm-8 col-md-9 ">
	<div class="row rightmargin margin-right-0 rightmargintop">
		<div class="col-xs-12 col-sm-7 col-md-9 no-padding hideblck">
			<label class="col-xs-7 col-sm-2 col-md-3 no-padding">Profile Completion</label>
			<div class="progress progresscustom">
			  <div class="progress-bar progress-barcustom" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: {{profileverify}}">
			    {{profileverify}}
			  </div>
			</div>
			<div class="row margin-right-0">
				<div class="col-md-offset-3">
					<div class="padding-left">
						<ul class="list-inline badge-lists badge-icons badge-icons1">
					        <li>
					            <a href="#"><img src="images/facebook.png"></a>
					            <span class="badge1 badge-green rounded-x"><i class="fa fa-check fa-lg color-white"></i></span>
					        </li>
					        <li>
					            <a href="#"><img src="images/linkedin.png"></a>
					            <span class="badge1 badge-green rounded-x" ng-hide="thumbup"><i class="fa fa-check fa-lg color-white"></i></span>
					            <span class="badge1 badge-red rounded-x color-white" ng-show="thumbup">x</span>
					        </li>
					        <li>
					            <a href="#"><img src="images/icon-mobile.png"></a>
					            <span class="badge1 badge-green rounded-x"><i class="fa fa-check fa-lg color-white"></i></span>
					        </li>
					        <li>
					            <a href="#"><img src="images/stamp1.jpg"></a>
					            <span class="badge1 badge-red rounded-x color-white">x</span>
					        </li>
					        
					       
					        
					    </ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-3 hideblck">
			
				<button type="button" class="btn btn-comp uppercase123 width100">Edit Profile</button>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-3 hideblck">
			<div class="clearfix"> <button type="button" class="btn btn-gtky uppercase123 width100">Complete Verification</button></div>
		</div>
	</div>
	<div class="row margin-right-0 bordertopbottom gredient">
		<div class="rightmargin rightmargintop">
			<div class="head1 color-brown">RECOMMENDATIONS</div>
		<div class="col-md-offset-2 col-md-4 align-center rightmargintop">
			<!-- <img src="images/car.jpg"> -->
			<div class="carousel-class">

		   </div>
		</div>
		</div>
		
	</div>

	<div class="row margin-right-0 rightmargin rightmargintop">
		<div class="head1 color-brown">CAFE FORUM UPDATES</div>
		<div class="bordertop" ng-repeat="updts in updates">
			<div class="row" style="margin:10px 10px 10px 25px;">
				<img class="rounded-x" ng-src="{{updts.Picture}}" alt="" style="width:70px;height:auto;float:left;">
				<div class ="forumUpdate">
					<div class="color-brown-light"><strong>{{updts.first_name}} {{updts.last_name}}</strong></div>
				 	<div>{{updts.TopicTitle}}</div>
				 	<div>{{updts.Comment}}</div>
				</div>
			</div>

		</div>
		


	<div class="panel-body row" ng-repeat="rec in recommendation">
        <h3><a href="#/otherprofile?user_id={{rec.user_id}}">{{rec.first_name}} {{rec.last_name}}</a></h3>
    </div> 
	</div>
	
		<!-- 	<div class="carousel-demo">
                    <ul rn-carousel  rn-carousel-auto-slide="3" class="mycarousel" rn-carousel-controls>
                        <li> <img alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c0.7.200.200/p200x200/10610908_805092252845086_8387047502213134303_n.jpg?oh=bb3fba424ef77348d7071149e83cdf1b&oe=54F5F631&__gda__=1423668902_63bb520a144e19da7b7ded1ad9f6b268">
                        	<img alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c0.7.200.200/p200x200/10610908_805092252845086_8387047502213134303_n.jpg?oh=bb3fba424ef77348d7071149e83cdf1b&oe=54F5F631&__gda__=1423668902_63bb520a144e19da7b7ded1ad9f6b268">
                        </li>
                        <li> <img alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c0.7.200.200/p200x200/10610908_805092252845086_8387047502213134303_n.jpg?oh=bb3fba424ef77348d7071149e83cdf1b&oe=54F5F631&__gda__=1423668902_63bb520a144e19da7b7ded1ad9f6b268"> </li>
                        <li> <img alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c0.7.200.200/p200x200/10610908_805092252845086_8387047502213134303_n.jpg?oh=bb3fba424ef77348d7071149e83cdf1b&oe=54F5F631&__gda__=1423668902_63bb520a144e19da7b7ded1ad9f6b268"> </li>
                        
                    </ul>
                </div> -->
                
         <div class="carousel-demo">
             <ul rn-carousel  rn-carousel-auto-slide="3" class="mycarousel" rn-carousel-controls>
              <li ng-repeat="image in test" >
                          	<a href="" ><img alt="" src="{{image.image1}}" height="200" width="150"></a>
                            <a href="" ><img alt="" src="{{image.image2}}" height="200" width="150"></a>
                            <a href="" ><img alt="" src="{{image.image3}}" height="200" width="150"></a>
                            <a href="" ><img alt="" src="{{image.image4}}" height="200" width="150"></a>
              </li>
           	</ul>
         </div>

</div>


</div>	
