<div data-ng-controller="Header1Ctrl" data-ng-include="Header1">
</div>


<!--Main Content -->
<div class="bck-img-contctus1">
	<div class="transperent11">
  <div class="pos-rel">
       <a class=" fixer-how" title="Close" href="#/" >
       <img ng-src="images/close-button1.png" style="width:35px; alt="Close"">
      </a>
      </div>
	<div class="container" style="text-align:center; padding-top:30px;padding-bottom:30px;">
    <img src="app-images/howitworks-final.png" style="width:100%;border:1px solid #000;" alt="How SoulCafe works.">
</div>
	</div>
</div>

  
 <div data-ng-controller="FooterCtrl" data-ng-include="Footer">
</div>