    <div class="align-center padding-20px min600">

        <div class="name">Why This Much Questions?</div>
        <img src="images/div.png" alt="" >
        <div class="add">
        
        <p class="why-qns">
       
        </p>
        
        </div>
        
        <p><q class="sugg"><i>  Soul Questionnaire is key to SoulCafe Philosophy. In a "Swipe & Like"  world, we want you to slow down and answer these few questions that are key to providing you with the right recommendations </i></q></p>
       
    </div>