    <div class="align-center padding-20px min600">

        <div class="name">Why Phone Validation?</div>
        <img src="images/div.png" alt="" ></br>
        
        <div class="add padd-20">
        
        <p class="sugg"><i class= "fa fa-check"> One more step towards an authentic profile </i></p>
		<p class="sugg" ><i class= "fa fa-check"> Minimises duplicate profiles </i></p>
		<p class="sugg" ><i class= "fa fa-check"> Your phone number is never disclosed </i></p>
	
	</div>
       
    </div>
