<div class="col-xs-12 col-sm-4 col-md-3 bcolor-grey">
	<div class="align-center margin-top-10">
		<img class="rounded-x imagel" src="images/img1.jpg" alt="" >
		<div class="name">James Smith , 34</div>
		<img src="images/div.png" alt="" >
		<div class="add">Lives In : India</div>
		<div class="add">From : Germany</div>
		<div class="pull-right morebutton add"><a href="">More</a></div>
	</div>

	<div class="clearfix align-center quote marginleft gredient">
		<h1 class="color-brown">"QUOTE I LIVE BY"</h1>
		<h3 class="color-brown-light">IN MY OWN WORDS......I AM FUN LOVING AND PASSIONATE GUY..........</h3>
	</div>
	<div class="margin-top-10 hideblck">
		<div class="marginleft clearfix">
			<div class="clabel row">FRIENDS (80)</div>
			<div class="row" style="margin:10px;">
				<img class="rounded-x" src="images/img1.jpg" alt="" style="width:50px;height:auto;float:left;">
				<div style="padding-top:7px;margin-left:30%;">
					<div class="color-brown-light"><strong>Abhik Jawandhiya</strong></div>
				 	<div>Bangalore, India</div>
				</div>
				

			</div>
				
				
		</div>
		
	</div>

	<div class="margin-top-10 hideblck">
		<div class="marginleft clearfix">
			<div class="clabel row">FORUMS</div>
				
				<a class="sublabel uppercase123">Travels</a>
				<a class="sublabel uppercase123">Rima Kalingal</a>
				<a class="sublabel uppercase123">Travels</a>
				<a class="sublabel uppercase123">Rima Kalingal</a>
				<a class="sublabel uppercase123">Travels</a>
				<a class="sublabel uppercase123">Rima Kalingal</a>
				<a class="sublabel uppercase123">Travels</a>
				<a class="sublabel uppercase123">Rima Kalingal</a>
			
		</div>
		
	</div>

	<div class="margin-top-10 hideblck">
		<div class="marginleft clearfix ">
			<div class="clabel row">INTERESTS</div>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-headphones gly"></span>
				<div class="font">Music</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-cutlery gly"></span>
				<div class="font">Food</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-plane gly"></span>
				<div class="font">Travelling</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-cutlery gly"></span>
				<div class="font">Food</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-plane gly"></span>
				<div class="font">Travelling</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-headphones gly"></span>
				<div class="font">Music</div>
			</span>
			
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-plane gly"></span>
				<div class="font">Travelling</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-headphones gly"></span>
				<div class="font">Music</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-cutlery gly"></span>
				<div class="font">Food</div>
			</span>
			
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-headphones gly"></span>
				<div class="font">Music</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-cutlery gly"></span>
				<div class="font">Food</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-plane gly"></span>
				<div class="font">Travelling</div>
			</span>
				
				
			
		</div>
		
	</div>

</div>