<div class="col-xs-12 col-sm-4 col-md-3 bcolor-grey">
	<div class="align-center margin-top-10">
		<img class="rounded-x imagelr" ng-src="{{userData.Picture}}" alt="" >
		<div class="name">{{userData.first_name}} {{userData.last_name}} , {{diff}}</div>
		<img src="images/div.png" alt="" >
		<div class="add">Lives In : {{userData.location}}</div>
		<div class="add">From : {{userData.hometown}}</div>
		<div class="pull-right morebutton add"><a style="color:#5bc0de;" href="#/edit-profile-other?user_id={{userData.user_id}}">More...</a></div>
	</div>

	<div class="clearfix align-center quote marginleft gredient">
		<h1 class="color-brown">"QUOTE I LIVE BY"</h1>
		<h3 class="color-brown-light">I{{userDataO.Moto}}</h3>
	</div>
	
	<div class="margin-top-10">
		<div class="marginleft clearfix">
			<div class="clabel row">FORUMS</div>
				<span ng-repeat="diss in discussion">
				<a class="sublabel uppercase123" href="#/discussion-topics?discussionid={{diss.DiscussionBoardId}}">{{diss.Topic}}</a>
			</span>
		</div>
		
	</div>

	<div class="margin-top-10">
		<div class="marginleft clearfix ">
			<div class="clabel row">INTERESTS</div>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-headphones gly"></span>
				<div class="font">Music</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-cutlery gly"></span>
				<div class="font">Food</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-plane gly"></span>
				<div class="font">Travelling</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-cutlery gly"></span>
				<div class="font">Food</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-plane gly"></span>
				<div class="font">Travelling</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-headphones gly"></span>
				<div class="font">Music</div>
			</span>
			
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-plane gly"></span>
				<div class="font">Travelling</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-headphones gly"></span>
				<div class="font">Music</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-cutlery gly"></span>
				<div class="font">Food</div>
			</span>
			
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-headphones gly"></span>
				<div class="font">Music</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-cutlery gly"></span>
				<div class="font">Food</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-plane gly"></span>
				<div class="font">Travelling</div>
			</span>
				
				
			
		</div>
		
	</div>

</div>