    <div class="padding-20px min600">

        <div class=" align-center name">Why Soul Questionnaire?</div>
        <div class="align-center">
        	<img src="images/div.png" alt="" >
        </div>
        
        <div class="add">
        
        <p class="why-qns">
       
        </p>
        
        </div>
        
        <p class="sugg"><i>  Soul Questionnaire is key to SoulCafe Philosophy. In a "Swipe & Like"  world, we want you to slow down and answer these few questions that are key to providing you with the right recommendations </i></p>
       
    </div>