<header>
  <div class="container">
  <div class="row">
      <div class="col-xs-3 text-col-xs-right pull-right"><a class="btn btn-primary btn-lg">login</a></div>
      <div class="col-xs-6 pull-right text-col-xs-center"><img src="images/logo.png" class="img-responsive"></div>
        <div class="col-xs-3 col-sm-3 pull-right">
          
        <button type="button" class="navbar-toggle top-navbar-toogle no-margin no-padding"  data-toggle="collapse" data-target=".top-navigation"><img src="images/menu.png"></button>
        <ul class="nav collapse top-navigation">
            <li><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <div class="clearfix"></div>
        </ul>
            
        </div>
        
      <div class="clearfix"></div>
    </div>
    </div>




</header>
<!--HEADER END-->
<!--BANNER START-->

<div class="position-relative">
    <div id="index-banner">
        <div class="container">
            <div class="row">
                <div class=" col-md-offset-1 col-md-6 col-lg-7 ">
                    <h1 class="alternative-text inline-block text-color-coffee"><strong>Find your soul match</strong></h1>
                    <h2 class="alternative-text inline-block"><strong>with a cup of coffee!</strong></h2>
                </div>
            </div>
        </div>
    </div>
    <div id="index-form-holder">
      <div class="container">
          <div class="col-md-offset-7 col-md-5 col-lg-offset-8 col-lg-4">
              <div id="index-form" class="radius bg-color-cream shadow text-center">
                  <form>
                      <div><img src="images/fb-btn.png" class="img-responsive" ></div>
                        <div class="index-form-or-email">OR Signup with Email</div>
                        
                        <div class="padding-bottom">
                          <div class="pull-left padding-right line-height40">I am a</div>
                            <div class="pull-left padding-right"><div class=" form-control-holder"><input type="radio" name="RadioGroup1" value="male" id="radio-male" checked></div></div>
                            <div class="pull-left"><div class=" form-control-holder"><input type="radio" name="RadioGroup1" value="female" id="radio-female"></div></div>
                            <div class="clearfix"></div>
                        
                      </div>
                        <div class="padding-bottom"><input type="text" class="form-control" placeholder="Username"></div>
                        <div class="padding-bottom"><input type="text" class="form-control" placeholder="Password"></div>
                        <div class="padding-bottom"><input type="text" class="form-control" placeholder="Email Address"></div>
                      <div class="row padding-bottom">
                          <div class="col-xs-4 form-control-holder"><select class="form-control"><option>Day</option></select></div>
                            <div class="col-xs-4 form-control-holder"><select class="form-control"><option>Month</option></select></div>
                            <div class="col-xs-4 form-control-holder"><select class="form-control"><option>Year</option></select></div>
                        </div>
                        <div class="padding-top-bottom-20">
                          <div class="pull-left form-control-holder"><input type="checkbox"></div>
                            <div class="pull-left padding-left">I am agree with <a href="#">Terms &amp; Conditions</a></div>
                            <div class="clearfix"></div>
                        </div>
                        <div><input type="submit" value="submit" class="btn btn-lg btn-primary btn-block"></div>
                    
                    
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--BANNER END-->




<!--TOP NAVIGATION START-->
<div class="border-bottom">
    <div class="container">
    
        
        <div class="padding-top-bottom-40"></div>
        container goes here
        <div class="padding-top-bottom-40"></div>        
  </div>
</div>
<!--TOP NAVIGATION END-->

<!--FOOTER START-->

<footer>
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-md-3 padding-top-bottom"><img src="images/footer-logo.png" class="img-responsive"></div>
          <div class="col-sm-6 col-md-3 padding-top-bottom">
              <ul class="line-height24">
                  <li><a href="#">Signup Now</a></li>
                    <li><a href="#">How It works</a></li>
                  <li>&nbsp;</li>    
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 padding-top-bottom">
              <ul class="line-height24">
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li>&nbsp;</li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 padding-top-bottom">
              <ul class="line-height24">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li>&nbsp;</li>
                </ul>
            </div>
        </div>
  </div>
</footer>
<div class="copyright-strip bg-color-coffe line-height24">
  <div class="container text-color-white ">
      <div class="row">
        <div class=" text-col-xs-center text-col-sm-left text-col-md-center col-sm-6 col-md-6 col-md-offset-3  padding-top-bottom-5 text-center">
            <div class="inline-block">Copyright © 2014 soulcafe.com. </div>
            <div class="inline-block">All rights reserved.</div>
            </div>
            <div class="text-col-xs-center text-col-sm-right col-sm-6 col-md-3 padding-top-bottom-5 text-center">
              <div class="inline-block">Connect with us</div>
                <div class="inline-block"><a href="#"><img src="images/fb.png"></a></div>
                <div class="inline-block"><a href="#"><img src="images/tw.png"></a></div>
                <div class="inline-block"><a href="#"><img src="images/gp.png"></a></div>
            </div>
            <div class="clearfix"></div>
      </div>
    </div>
</div>