
<!--BANNER START-->
<div class="header-border-image"></div>

<div class="position-relative">
    <div id="index-banner">
        <div class="container">
            <div class="row">
                <div class=" col-md-offset-1 col-md-6 col-lg-7 ">
                    <h1 class="alternative-text inline-block text-color-coffee"><strong>Find your soul match</strong></h1>
                    <h2 class="alternative-text inline-block"><strong>with a cup of coffee!</strong></h2>
                </div>
            </div>
        </div>
    </div>
    <div id="index-form-holder">
      <div class="container">
          <div class="col-md-offset-7 col-md-5 col-lg-offset-8 col-lg-4">
              <div id="index-form" class="radius bg-color-cream shadow text-center">
                  <form name="fbdataform" class="form-horizontal group-border-dashed"  style="border-radius: 0px;" data-ng-submit="signUp(fbdataform.$valid)">
                      <div><img type="button" ng-click="login()" ng-hide="isLoggedIn"
		 src="images/fb-btn.png" class="img-responsive" ></div>
                        <div class="index-form-or-email">OR Signup with Email</div>
                        
                        <div class="padding-bottom">
                          <div class="pull-left padding-right line-height40">I am a</div>
                            <div class="pull-left padding-right"><div class=" form-control-holder " id="radio-male" >
                            <input type="radio" name="RadioGroup1" value="male"  checked="checked" id="radio-male"> 
                            <div class='radio-mask' ng-class="{radiomaskselected:male}"></div>
                            </div>
                            
                            </div>
                            <div class="pull-left"><div class=" form-control-holder" id="radio-female" >
                            <input type="radio" name="RadioGroup1" value="female" id="radio-female">
                            <div class='radio-mask' ng-class="{radiomaskselected:female}"></div>
                            </div></div>
                            <div class="clearfix"></div>
                        
                      </div>
                        <div class="padding-bottom"><input type="text" name="name" class="form-control" data-ng-model="fbdata.first_name" placeholder="First Name" required></div>
                        <div class="padding-bottom"><input type="text" name="last_name" class="form-control" data-ng-model="fbdata.last_name" placeholder="Last Name" required></div>
                        <div class="padding-bottom"><input type="text" name="birthdate" class="form-control" data-ng-model="fbdata.birthday" placeholder="Birthday" required></div>
                        <div class="padding-bottom"><input type="text" name="home_town"   class="form-control" data-ng-model="fbdata.hometown.name" placeholder="Home Town" required></div>
                        <div class="padding-bottom"><input type="text" name="location"  class="form-control" data-ng-model="fbdata.location.name" placeholder="Location" required></div>
                        <div class="padding-bottom"><input type="email" name="email" class="form-control" data-ng-model="fbdata.email" placeholder="Email" required></div>
                        <div class="padding-bottom"><input type="text" name="mobile" class="form-control" data-ng-model="fbdata.mobile" placeholder="Mobile" required></div>
                        <div class="padding-bottom"><input type="text" name="relationship" class="form-control" data-ng-model="fbdata.relationship_status" placeholder="Relationship Status" required></div>
                      
                        <h4>{{errMessage}}</h4>
                        <div><input type="submit" value="submit" ng-disabled="fbdataform.$invalid" class="btn btn-lg btn-primary btn-block"></div>
                    
                    
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--BANNER END-->




<!--TOP NAVIGATION START-->

<!--TOP NAVIGATION END-->

