<div class="container-fluid no-padding">
	<div class="row cheader">

		<div class="col-xs-12 col-sm-12 col-md-12 margint">
			<div class="pull-left logoimg"><img src="images/logo_soul.png" alt="" ></div>

			<div class="col-xs-2 no-padding pull-right hidden-sm visible-xs">
			    
			    <button type="button" class="navbar-toggle top-navbar-toogle no-margin no-padding bcolor-white"  data-toggle="collapse" data-target=".top-navigation"><img src="images/menu.png" style="width:30px;top:55px !important;"></button>
			        <ul class="nav collapse top-navigation" style="top:55px !important;margin-left:-165px !important;">
			            <li><a href="#">Home </a></li>
			            <li><a href="#">My Profile</a></li>
			            <li><a href="#">Settings</a></li>
			            <li><a href="#">Logout</a></li>
			            <div class="clearfix"></div>
			        </ul>
			              
	        </div>



			<div class="dropdown pull-right settingicon" style="padding-top:5px;">
			  <button class="btn dropdown-toggle bcolor-brown" type="button" id="dropdownMenu1" data-toggle="dropdown">
			    <div class="color-white"><i class="fa fa-cog fa-lg"><span class="caret" style="margin-left:5px;"></span></i></div>
			    
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
			  </ul>
			</div>


			<div class="pull-right notify no-padding">
				<ul class="list-inline badge-lists badge-icons">
			        <li>
			            <a href="#"><i class="fa fa-envelope-o fa-lg color-white"></i></a>
			            <span class="badge badge-yellow rounded-x">2</span>
			        </li>
			        <li>
			            <a href="#"><i class="fa fa-comments fa-lg color-white"></i></a>
			            <span class="badge badge-dark-blue rounded">9</span>
			        </li>
			        <li>
			            <a href="#"><i class="fa fa-globe fa-lg color-white"></i></a>
			            <span class="badge badge-red rounded-x">4</span>
			     	</li>
			    </ul>
			</div>

			<a class="pull-right home"><strong>Home</strong></a>
			<a class="pull-right home1" > 
				<img class="rounded-x" src="images/img1.jpg" alt="" style="width:20px;height:auto;">
				<strong>James Smith</strong>
			</a>

			

		</div>
	</div>

</div>
<div class="row margin-right-0 body-background">
	<div class="col-xs-12 col-sm-4 col-md-3 bcolor-grey">
	<div class="align-center margin-top-10">
		<img class="rounded-x imagel" src="images/img1.jpg" alt="" >
		<div class="name">James Smith , 34</div>
		<img src="images/div.png" alt="" >
		<div class="add">Lives In : India</div>
		<div class="add">From : Germany</div>
	</div>

	<div class=" align-center quote marginleft gredient">
		<h1 class="color-brown">"QUOTE I LIVE BY"</h1>
		<h3 class="color-brown-light">IN MY OWN WORDS......I AM FUN LOVING AND PASSIONATE GUY..........</h3>
	</div>
	<div class="margin-top-10">
		<div class="marginleft clearfix">
			<div class="clabel row">FRIENDS (80)</div>
			<div class="row" style="margin:10px;">
				<img class="rounded-x" src="images/img1.jpg" alt="" style="width:50px;height:auto;float:left;">
				<div style="padding-top:7px;margin-left:25%;">
					<div class="color-brown-light"><strong>Abhik Jawandhiya</strong></div>
				 	<div>Bangalore, India</div>
				</div>
				

			</div>
				
				
		</div>
		
	</div>

	<div class="margin-top-10">
		<div class="marginleft clearfix">
			<div class="clabel row">FORUMS</div>
				
				<a class="sublabel ">Travels</a>
				<a class="sublabel ">Rima Kalingal</a>
				<a class="sublabel ">Travels</a>
				<a class="sublabel ">Rima Kalingal</a>
				<a class="sublabel ">Travels</a>
				<a class="sublabel ">Rima Kalingal</a>
				<a class="sublabel ">Travels</a>
				<a class="sublabel ">Rima Kalingal</a>
			
		</div>
		
	</div>

	<div class="margin-top-10">
		<div class="marginleft clearfix ">
			<div class="clabel row">INTERESTS</div>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-headphones gly"></span>
				<div class="font">Music</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-cutlery gly"></span>
				<div class="font">Food</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-plane gly"></span>
				<div class="font">Travelling</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-cutlery gly"></span>
				<div class="font">Food</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-plane gly"></span>
				<div class="font">Travelling</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-headphones gly"></span>
				<div class="font">Music</div>
			</span>
			
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-plane gly"></span>
				<div class="font">Travelling</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-headphones gly"></span>
				<div class="font">Music</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-cutlery gly"></span>
				<div class="font">Food</div>
			</span>
			
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-headphones gly"></span>
				<div class="font">Music</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-cutlery gly"></span>
				<div class="font">Food</div>
			</span>
			<span class="interests float-left align-center">
				<span class="glyphicon glyphicon-plane gly"></span>
				<div class="font">Travelling</div>
			</span>
				
				
			
		</div>
		
	</div>

</div>

<div class="col-xs-12 col-sm-8 col-md-9 ">
	<div class="row rightmargin margin-right-0 rightmargintop">
		<div class="col-xs-12 col-sm-7 col-md-9 no-padding">
			<label class="col-xs-7 col-sm-2 col-md-3 no-padding">Profile Completion</label>
			<div class="progress progresscustom">
			  <div class="progress-bar progress-barcustom" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
			    75%
			  </div>
			</div>
			<div class="row margin-right-0">
				<div class="col-md-offset-3">
					<div class="padding-left">
						<ul class="list-inline badge-lists badge-icons badge-icons1">
					        <li>
					            <a href="#"><img src="images/fb.png"></a>
					            <span class="badge1 badge-green rounded-x"><i class="fa fa-check fa-lg color-white"></i></span>
					        </li>
					        <li>
					            <a href="#"><img src="images/tw.png"></a>
					            <span class="badge1 badge-green rounded-x"><i class="fa fa-check fa-lg color-white"></i></span>
					        </li>
					        <li>
					            <a href="#"><img src="images/gp.png"></a>
					            <span class="badge1 badge-green rounded-x"><i class="fa fa-check fa-lg color-white"></i></span>
					        </li>
					        <li>
					            <a href="#"><img src="images/fb.png"></a>
					            <span class="badge1 badge-green rounded-x"><i class="fa fa-check fa-lg color-white"></i></span>
					        </li>
					        
					       
					        
					    </ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-3">
			<button type="button" class="btn btn-comp">Compatiblity Check</button>
			<div class="clearfix"> <button type="button" class="btn btn-gtky">Say Hello</button></div>
		</div>
	</div>
	<div class="row margin-right-0 bordertopbottom gredient">
		<div class=" col-md-offset-4 col-md-4 align-center rightmargintop hideblock">
			<h1 class="color-brown" style="font-weight:600;">"QUOTE I LIVE BY"</h1>
			<h3 class="color-brown-light" style="font-weight:600;">IN MY OWN WORDS......I AM FUN LOVING AND PASSIONATE GUY..........</h3>
		</div>
	</div>
	<div class="row margin-right-0 rightmargin rightmargintop">
		<div class="head1 color-brown">MY LIFE VALUES</div>
		<h3 class="bordertop">Travel</h3>
		<div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
	</div>
	<div class="row margin-right-0 rightmargin rightmargintop wordcloud">
		<div class="head1 color-brown">SOCIOGRAPH</div>
		<div class="bordertop"><img src="images/111.jpg"></div>
	</div>


</div>


</div>	
