<div data-ng-controller="HeaderCtrl" data-ng-include="Header"></div>




<div class="container-fluid body-pattern ">
	<div class="container  body-pattern ">
		<div class="row">
			<div class=" col-xs-12 col-sm-4 col-md-3 gredientSB"
				data-ng-controller="SideBarCtrl" data-ng-include="SideBar"></div>

			<div
				class="col-xs-12 col-sm-8 col-md-9 body-background  padding-20px ">
				<div class="row home-block my-border  ">
				<h3 class="panel-title">
								<i class="fa fa-list-alt color-deep-red"></i> PROFILE COMPLETION
							</h3>
				<div class="row">
									 	<div class="col-md-8">
						<div class="progress progresscustom">
							<div class="progress-bar progress-barcustom" role="progressbar"
								aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"
								style="width: {{profileverify}}">{{profileverify}}</div>
						</div>
						<div class="row margin-right-0">
							<div class="col-md-offset-3">
								<div class="padding-left">
									<ul class="list-inline badge-lists badge-icons badge-icons1">
										<li><img src="images/facebook.png"> <span
											class="badge1 badge-green rounded-x"><i
												class="fa fa-check  color-white"></i></span></li>
										<li><img src="images/linkedin.png"> <span
											class="badge1 badge-green rounded-x" ng-hide="thumbup"><i
												class="fa fa-check  color-white"></i></span> <span
											class="badge1 badge-red rounded-x color-white"
											ng-show="thumbup">x</span></li>
										<li><img src="images/icon-mobile.png"> <span
											class="badge1 badge-green rounded-x"><i
												class="fa fa-check  color-white"></i></span></li>
										<!-- <li>
					            <a href="#"><img src="images/stamp1.jpg"></a>
					            <span class="badge1 badge-red rounded-x color-white">x</span>
					        </li> -->



									</ul>
								</div>
							</div>
						</div>
									 	</div>
									 	
									 	<div class="col-md-3 pull-right">
									 		<a type="button" href="#/edit-profile-new"
							class="btn btn-comp uppercase123 width100">Edit Profile</a>
									 	
									 	</div>
									 
									 </div>
				
					
				
				
				
					
				</div>
				<div class="row home-block hideblock  ">
				<h3 class="panel-title">
								<i class="fa fa-quote-left color-deep-red"></i> QUOTE I LIVE BY
							</h3>
				<blockquote class="bq-text-lg">
                            <p>{{userData.Moto}}</p>
                            
                        </blockquote>
				
				</div>
				
				<div class="row home-block hideblock  ">
				<h3 class="panel-title">
								<i class="fa fa-quote-left color-deep-red"></i> MY LIFE VALUES
							</h3>
				<blockquote class="bq-text-lg">
							<ul>
								<li ng-repeat="interest in interests">{{interest.Answer}}</li>
								
							</ul>
                            
                            
                        </blockquote>
				
				</div>
				
			
				
			
				<!--  <div class="row home-block  ">
		<div class="head1 color-brown">MY LIFE VALUES</div>
		<!-- <h3 class="bordertop">Travel</h3> -->
				<!--	<div class="col-md-12" style="text-align:justify;">{{userData.OwnWords}}</div>
	</div> -->


				<div class="row home-block hideblock ">
				<h3 class="panel-title">
								<i class="fa fa-cloud color-deep-red"></i> SOCIOGRAPH
							</h3>
				<jqcloud words="words" width="800" height="200"
										colors="{{colors}}" delay="10" steps="7"></jqcloud>
				
				</div>


			</div>

		</div>
	</div>
</div>