<div data-ng-controller="HeaderCtrl" data-ng-include="Header">
</div>
<div class="row margin-right-0 body-background">
	<div data-ng-controller="LeftBarpCtrl" data-ng-include="LeftBarOther">
</div>

<div class="col-xs-12 col-sm-8 col-md-9 ">
	<div class="row rightmargin margin-right-0 rightmargintop">
		<div class="col-xs-12 col-sm-7 col-md-9 no-padding">
			<label class="col-xs-7 col-sm-2 col-md-3 no-padding">Profile Completion</label>
			<div class="progress progresscustom">
			  <div class="progress-bar progress-barcustom" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: {{profileverify}};">
			    {{profileverify}}
			  </div>
			</div>
			<div class="row margin-right-0">
				<div class="col-md-offset-3">
					<div class="padding-left">
						<ul class="list-inline badge-lists badge-icons badge-icons1">
					        <li>
					            <a href="#"><img src="images/facebook.png"></a>
					            <span class="badge1 badge-green rounded-x"><i class="fa fa-check fa-lg color-white"></i></span>
					        </li>
					        <li>
					            <a href="#"><img src="images/linkedin.png"></a>
					            <span class="badge1 badge-green rounded-x" ng-hide="thumbup"><i class="fa fa-check fa-lg color-white"></i></span>
					            <span class="badge1 badge-red rounded-x color-white" ng-show="thumbup">x</span>
					        </li>
					        <li>
					            <a href="#"><img src="images/icon-mobile.png"></a>
					            <span class="badge1 badge-green rounded-x"><i class="fa fa-check fa-lg color-white"></i></span>
					        </li>
					        <li>
					            <a href="#"><img src="images/stamp1.jpg"></a>
					            <span class="badge1 badge-red rounded-x color-white">x</span>
					        </li>
					        
					       
					        
					    </ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-3" ng-show="GTKY">
			<button type="button" ng-click="sendGTKY()" class="btn btn-comp uppercase123 width100">Say Hello</button>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-3" ng-show="GTKY1">
			<button type="button" ng-click="acceptGTKY()" class="btn btn-comp uppercase123 width100">GTKY Send</button>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-3" ng-show="GTKY3">
			<button type="button" ng-click="acceptGTKY()" class="btn btn-comp uppercase123 width100">Accept GTKY</button>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-3" ng-show="GTKY2">
			 <a type="button" href="#/reply-message?sid={{userData.user_id}}" class="btn btn-comp uppercase123 width100">Send message</a>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-3">
			<div class="clearfix"> <button type="button" class="btn btn-gtky uppercase123 width100" ng-click="open('lg')">Check Compatiblity</button></div>
		</div>
	</div>
	<div class="row margin-right-0 bordertopbottom gredient">
		<div class=" col-md-offset-4 col-md-4 align-center rightmargintop hideblock">
			<h1 class="color-brown" style="font-weight:600;">"QUOTE I LIVE BY"</h1>
			<h3 class="color-brown-light" style="font-weight:600;">{{userData.Moto}}</h3>
		</div>
	</div>
	
	<div class="row margin-right-0 rightmargin rightmargintop">
		<div class="head1 color-brown">MY LIFE VALUES</div>
		<h3 class="bordertop">Travel</h3>
		<div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
	</div>
	<div class="row margin-right-0 rightmargin rightmargintop wordcloud">
		<div class="head1 color-brown">SOCIOGRAPH</div>
		<div class="bordertop">
			<jqcloud words="words" width="900" height="350" colors="{{colors}}" delay="10" steps="7" ></jqcloud>
		 </div>
	</div>


</div>


</div>	

<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">You and {{buddyname}}</h3>
        </div>
        <div class="modal-body">
            <div class="progress progresscustom">
			  <div class="progress-bar progress-barcustom" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: {{matchDetails.total_percentage}}%;">
			    {{matchDetails.total_percentage}}%
			  </div>
			</div>
 			<div class="form-group row" ng-repeat="(key, value) in matchDetails.scores">
              <label class="col-lg-6 control-label">{{key}}</label>
              <div class="col-lg-6">
                   : {{value}}%
              </div>
            </div>

			<div class="form-group row" >
              <label class="col-lg-6 control-label">OverAll  </label>
              <div class="col-lg-6">
                   <strong>: {{matchDetails.total_percentage}} %</strong>
              </div>
            </div>
			


        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>

