<div data-ng-controller="Header1Ctrl" data-ng-include="Header1">
</div>

<!--Main Content -->
<div class="container" style="padding-top:30px;padding-bottom:30px;">
	<div class="headline">
   <h1 class="heading-sm"><strong> Privacy Policy</strong></h1>
</div>
This Privacy Policy describes the information collected by SoulCafe.Singles, operated by SoulCafe Solutions India Pvt Ltd (we, us or SoulCafe), how that information may be used, with whom it may be shared, and your choices about such uses and disclosures. We encourage you to read this Privacy Policy carefully when using our website or services or transacting business with us. By using our website, you are accepting the practices described in this Privacy Policy.<br>
If you have any questions about our privacy practices, please refer to the end of this Privacy Policy for information on how to contact us.

<h2 class="heading-sm"><strong> The information we collect</strong></h2>
1] <strong>In General.</strong> We may collect personal information that can identify you such as your name and email address and other information that does not identify you. When you provide personal information through our website, the information is sent to our servers located in the Tokyo.<br>

2] <strong>Information you provide.</strong> We may collect and store any personal information you enter on our website or provide to us in some other manner. This includes identifying information, such as your name, location, email address, and telephone number, and, if you transact business with us, financial information such as your payment method (valid credit card number, type, expiration date or other financial information). We also request information about your interests and activities, your gender and age, and other demographic information.<br>

3] <strong>Information from other sources.</strong> During sign in, we obtain personal information from Facebook, which is primarily used for validation of your eligibilty to register on SoulCafe. The goal is to minimize data entry for you and also minimize chances of fake profiles being added at SoulCafe. We also pull in certain Professional Details from Linked In - when you opt to do so. This is again to minimize data entry and provide more authenticity to your profile.<br>

4] <strong>Information collected automatically.</strong> We automatically collect information from your browser when you visit our website. This information includes your IP address, your browser type and language, access times, the content of any undeleted cookies that your browser previously accepted from us (see "Cookies" below), and the referring website address.<br>

5] <strong>Cookies and Use of Cookie Data.</strong>Cookies and Use of Cookie Data. When you visit our website, we may assign your computer one or more <strong>cookies</strong>. Most browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies. <br>

<h2 class="heading-sm"><strong> How we use the information we collect</strong>
</h2>
<strong>In General.</strong> We may use information that we collect about you to:<br>
1] deliver the products and services that you have requested.<br>
2] manage your account and provide you with customer support.<br>
3] communicate with you by email, mobile devices about products or services that may be of interest to you either from us,<br> 
4] develop and display content and advertising tailored to your interests on our site and other sites.<br>
5] verify your eligibility to register on our website<br>
6] enforce or exercise any rights in our terms and conditions.<br>
7] manage our business.<br>
8] register you with and display your profile and suggest you with the right recommendations<br>

<strong>Financial information.</strong> In future we may use financial information or payment method information to process payment for any purchases made on our website, enroll you in the discount, rebate, and other programs in which you elect to participate, to protect against or identify possible fraudulent transactions, and otherwise as needed to manage our business.
<h2 class="heading-sm"><strong> With whom we share your information
</strong></h2>
<strong>Personal information.</strong> We do not share your personal information with others except as indicated below or when we inform you and give you an opportunity to opt out of having your personal information shared. We may share personal information with:<br>
When we believe disclosure is appropriate in connection with efforts to investigate, prevent, or take other action regarding illegal activity, suspected fraud or other wrongdoing; to protect and defend the rights, property or safety of our company, our users, our employees, or others; to comply with applicable law or cooperate with law enforcement; or to enforce our website terms and conditions or other agreements or policies.
<h2 class="heading-sm"><strong> How you can access your information</strong></h2>
If you have an online account with us, you have the ability to review and update your personal information online by logging into your account and clicking on Edit Profile. More information about how to contact us is provided below. If you have an online account with us, you can contact us  to delete or disable your account. If you delete or disable your account, we may still retain certain information associated with your account for analytical purposes and recordkeeping integrity, as well as to prevent fraud, collect any fees owed, enforce our terms and conditions, take actions we deem necessary to protect the integrity of our website or our users, or take other actions otherwise permitted by law. 
<h2 class="heading-sm"><strong>Your choices about collection and use of your information</strong></h2>
You can choose not to provide us with certain information, but that may result in you being unable to use certain features of our website because such information may be required in order for you to register as a member; get the right recommendations, Again, if user doesn't disclose information, then the user can't really use the website in the most usable way.
<h2 class="heading-sm"><strong>How we protect your personal information</strong></h2>
We take appropriate security measures (including physical, electronic and procedural measures) to help safeguard your personal information from unauthorized access and disclosure. We want you to feel confident using our website to transact business. However, no system can be completely secure. Therefore, although we take steps to secure your information, we do not promise, and you should not expect, that your personal information, searches, or other communications will always remain secure. Users should also take care with how they handle and disclose their personal information on our website. We promise to protect personal information. But this "protection" is almost meaningless to the user when the user agrees to share it with "nobody except almost everybody."  
<h2 class="heading-sm"><strong>Information you provide about yourself while using our service</strong></h2>
We provide areas on our websites where you can post information about yourself and others and communicate with others or upload content such as photographs. Such postings are governed by our Terms and Conditions. Whenever you voluntarily disclose personal information on publicly-viewable web pages, that information will be publicly available and can be collected and used by others. For example, if you post your email address, you may receive unsolicited messages. We cannot control who reads your posting or what other users may do with the information you voluntarily post, so we encourage you to exercise discretion and caution with respect to your personal information.
<h2 class="heading-sm"><strong>Children's privacy</strong></h2>
Although our website is a general audience site, we restrict the use of our service to individuals age 18 and above. We do not knowingly collect personal information from children under the age of 13.
<h2 class="heading-sm"><strong>Visiting our websites from outside India</strong></h2>
This Privacy Policy is intended to cover collection of information on our website from residents of the India. If you are visiting our website from outside the India, please be aware that your information may be transferred to, stored, and processed where our servers are located and our central database is operated. By using our services, you understand that your information may be transferred to our facilities.
<h2 class="heading-sm"><strong>Changes to this Privacy Policy</strong></h2>
We will occasionally update this Privacy Policy. When we post changes to this Privacy Policy, we will revise the "last updated" date at the top of this Privacy Policy. We recommend that you check our website from time to time to inform yourself of any changes in this Privacy Policy or any of our other policies.
<h2 class="heading-sm"><strong>How to contact us</strong></h2>
If you have any questions about this Privacy Policy or our information-handling practices,  please contact us by email<br>
<strong>Contact Us </strong>:<a href:"mailto:contact@souldcafe.singles">contact@souldcafe.singles</a>



</div>

<!--Main Content ends here -->
 
<div data-ng-controller="FooterCtrl" data-ng-include="Footer">
</div>