<div class="col-md-3 md-margin-bottom-40">
    
                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1" data-ng-show="isSuper">
                    <li class="list-group-item active">
                        <a href="#/superadmin-profile"><i class="fa fa-bar-chart-o"></i>Super Admin - Manage Soulcafe</a>
                    </li>
                     <li class="list-group-item">
                        <a href="#/superadmin-add-admin"><i class="fa fa-user"></i> Add New Admin</a>
                    </li>
                     <li class="list-group-item">
                        <a href="#/superadmin-admin"><i class="fa fa-users"></i> All Admin</a>
                    </li> 
                     <li class="list-group-item">
                        <a href="#/admin-userlist"><i class="fa fa-users"></i> All Users</a>
                    </li> 
                    <li class="list-group-item">
                        <a href="#/admin-blocked-users"><i class="fa fa-users"></i> Blocked Users</a>
                    </li> 
                    <li class="list-group-item">
                        <a href="#/admin-add-discussion"><i class="fa fa-user"></i> Add Discussion Forum</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#/admin-discussion-list"><i class="fa fa-group"></i> List Discussion Forum</a>
                    </li>  
                    
                    <li class="list-group-item">
                        <a href="#/admin-bad-list"><i class="fa fa-group"></i> Manage Bad Comments</a>
                    </li>                                      

                    <li class="list-group-item">
                        <a href="#/admin-discussionboardAbuse-list"><i class="fa fa-cubes"></i> Spam Requests</a>
                    </li>

                     <li class="list-group-item">
                        <a href="#/admin-inappropriate-comments"><i class="fa fa-comment"></i> Inappropriate Comments</a>
                    </li>  
                    
                      
                    <li class="list-group-item">
                        <a href="#/superadmin-message"><i class="fa fa-comment"></i> Messagesd</a>
                    </li>  
                    
                       
                    <li class="list-group-item active">
                        <a href="#/admin-list-question"><i class="fa fa-bar-chart-o"></i> Questionnaore</a>
                    </li>  
                    <li class="list-group-item">
                        <a href="#/admin-manage-question"><i class="fa fa-comment"></i> Question Weigh Management</a>
                    </li>   
                     <li class="list-group-item">
                        <a href="#/admin-add-question"><i class="fa fa-comment"></i> Add Question</a>
                    </li>   	                      

                </ul>   
                
                <!-- For other admind -->
                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1" data-ng-hide="isSuper">
                    <li class="list-group-item active">
                        <a href="#/superadmin-profile"><i class="fa fa-bar-chart-o"></i>Admin - Manage Soulcafe</a>
                    </li>
                     <li class="list-group-item">
                        <a href="#/ad-discussion-list"><i class="fa fa-user"></i> Manage Forum</a>
                    </li>
                    	                      

                </ul>   
                

               
              
                      

           
  </div>