

    <div class="align-center padding-20px">
        <img class="rounded-x imagel" ng-src="{{sideData.picture}}" alt="" >
        <div class="name">{{sideData.first_name}} {{sideData.last_name}} , {{diff}}</div>
        <img src="images/div.png" alt="" >
        <div class="add">Lives In : {{sideData.location}}</div>
        <div class="add">Working : {{sideData.employment}}
            <a class="pull-right" style="color:#5bc0de;" href="#/edit-profile-new">More...</a>
        </div>
        <!-- <div class="pull-right morebutton add"><a style="color:#5bc0de;" href="#/edit-profile-new">More...</a></div> -->
    </div>

    <div class="clearfix align-center quote marginleft gredient">
        <h1 class="color-brown">"QUOTE I LIVE BY"</h1>
        <h3 class="color-brown-light">{{sideData.Moto}}</h3>
    </div>
    <div class="margin-top-10 hideblck">
        <div class=" clearfix">
            <div class="clabel row" href="#/friends"><a class="color-white" href="#/friends">FRIENDS ({{totalfriends}})</a></div>
            <div class="row margin-top-5"  ng-repeat="frnd in friends">
            	<div class ="col-md-3">
               		<a class="profile_link" ng-click="otherProfile({{frnd.BuddyId}})"> <img class="rounded-x" ng-src="{{imagepath}}{{frnd.Picture}}" alt="" style="width:50px;height:auto;float:left;"></a>
               	</div>
               <div class ="col-md-9">
                    <div class="color-brown-light"><a class="profile_link" ng-click="otherProfile({{frnd.BuddyId}})"><strong>{{frnd.first_name}} {{frnd.last_name}}</strong></a></div>
                    <div>{{ frnd.Moto | limitTo : 15}}..</div>
                </div>
            </div>
        </div>
    </div>

        <div class="margin-top-10 hideblck">
            <div class=" clearfix">
            <div class="clabel row" ><a class="color-white" href="#/discussion-list">FORUMS({{totalforum}})</a></div>
            <div class="col-md-12">
	            <span ng-repeat="diss in discussion">
	                <a class="sublabel uppercase123" href="#/discussion-topics?discussionid={{diss.DiscussionBoardId}}">{{diss.Topic}}</a>
	            </span>
            </div>
            </div>
        </div>

    <div class="margin-top-10 hideblck">
        <div class=" clearfix">
            <div class="clabel row">INTERESTS</div>
            <span class="interests float-left align-center" ng-repeat="intst in interest">
                <span class="glyphicon glyphicon-headphones gly"></span>
                <div class="font">{{intst.Answer}}</div>
            </span>
            
                
                
            
        </div>
        
    </div>
