
 <!--=== Header ===-->    
  <div data-ng-controller="HeaderCtrl" data-ng-include="Header">
</div>
    <!--=== End Header ===--> 

<div class="container" style="margin-left:500px;">
	<div class="row headingWrap">
		<label class="col-sm-3 control-label heading">Sign Up</label>	
	</div>
	<form name="fbdataform" class="form-horizontal group-border-dashed"  style="border-radius: 0px;" data-ng-submit="fbdataform.$valid && signUp()" novalidate >                        
        <div class="padding-bottom col-sm-6 clear">
            <div class="pull-left padding-right line-height40">I am a</div>
            <div class="pull-left padding-right"><div class=" form-control-holder " id="radio-male" >
            <input type="radio" name="RadioGroup1" value="male"  checked="checked" id="radio-male"> 
           	<div class='radio-mask' ng-class="{radiomaskselected:male}"></div>
            </div>
            </div>
            <div class="pull-left"><div class=" form-control-holder" id="radio-female" >
            <input type="radio" name="RadioGroup1" value="female" id="radio-female">
            <div class='radio-mask' ng-class="{radiomaskselected:female}"></div>
            </div></div>
            <div class="clearfix"></div>
                        
        </div>
        <div class="padding-bottom col-md-5 clear">
            <div  ng-class="{ 'has-error' : fbdataform.name.$invalid && !fbdataform.name.$pristine || fbdataform.name.$invalid  && submitted }">

        	<input type="text" name="name" class="form-control" data-ng-model="fbdata.first_name" placeholder="First Name" required>

            <p ng-show="(fbdataform.name.$invalid && !fbdataform.name.$pristine) || (fbdataform.name.$invalid  && submitted) " class="help-block">Add First Name.</p>
            </div>
        </div>

        <div class="padding-bottom col-md-5 clear">
            <div  ng-class="{ 'has-error' : fbdataform.last_name.$invalid && !fbdataform.last_name.$pristine || fbdataform.last_name.$invalid  && submitted }">

            	<input type="text" name="last_name" class="form-control" data-ng-model="fbdata.last_name" placeholder="Last Name" required>

                 <p ng-show="(fbdataform.last_name.$invalid && !fbdataform.last_name.$pristine) || (fbdataform.last_name.$invalid  && submitted) " class="help-block">Add Last Name.</p>
            </div>
        </div>
        <div class="padding-bottom col-md-5 clear">
            <div  ng-class="{ 'has-error' : fbdataform.birthday.$invalid && !fbdataform.birthday.$pristine || fbdataform.birthday.$invalid  && submitted }">
                <p class="input-group">
                    <input type="text" name="birthday" class="form-control" datepicker-popup="{{format}}" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" data-ng-model="fbdata.birthday" required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
                <p ng-show="(fbdataform.birthday.$invalid && !fbdataform.birthday.$pristine) || (fbdataform.birthday.$invalid  && submitted) " class="help-block">Add Date of Birth.</p>
            </div>
        </div>
        <div class="padding-bottom col-md-5 clear">
             <div  ng-class="{ 'has-error' : fbdataform.home_town.$invalid && !fbdataform.home_town.$pristine || fbdataform.home_town.$invalid  && submitted }">

        	<input type="text" name="home_town"   class="form-control" data-ng-model="fbdata.hometown.name" placeholder="Home Town" required>

             <p ng-show="(fbdataform.home_town.$invalid && !fbdataform.home_town.$pristine) || (fbdataform.home_town.$invalid  && submitted) " class="help-block">Add Home town.</p>
            </div>
        </div>
        <div class="padding-bottom col-md-5 clear">
            <div  ng-class="{ 'has-error' : fbdataform.location.$invalid && !fbdataform.location.$pristine || fbdataform.location.$invalid  && submitted }">

        	<input type="text" name="location"  class="form-control" data-ng-model="fbdata.location.name" placeholder="Location" required>

             <p ng-show="(fbdataform.location.$invalid && !fbdataform.location.$pristine) || (fbdataform.location.$invalid  && submitted) " class="help-block">Add Current Location.</p>
            </div>
        </div>
        <div class="padding-bottom col-md-5 clear">
            <div  ng-class="{ 'has-error' : fbdataform.email.$invalid && !fbdataform.email.$pristine || fbdataform.email.$invalid  && submitted }">

        	<input type="email" name="email" class="form-control" data-ng-model="fbdata.email" placeholder="Email" required>

            <p ng-show="(fbdataform.email.$invalid && !fbdataform.email.$pristine) || (fbdataform.email.$invalid  && submitted) " class="help-block">Add Email Address.</p>
            </div>
        </div>
        <div class="padding-bottom col-md-5 clear">
            <div  ng-class="{ 'has-error' : fbdataform.mobile.$invalid && !fbdataform.mobile.$pristine || fbdataform.mobile.$invalid  && submitted }">

        	<input type="text" name="mobile" class="form-control" data-ng-model="fbdata.mobile" placeholder="Mobile" ng-minlength="10" ng-maxlength="11" required>

            <p ng-show="(fbdataform.mobile.$invalid && !fbdataform.mobile.$pristine) || (fbdataform.mobile.$invalid  && submitted) " class="help-block">Add Valid Mobile Number.</p>
            </div>
        </div>
        <div class="padding-bottom col-md-5 clear">
            <div  ng-class="{ 'has-error' : fbdataform.relationship.$invalid && !fbdataform.relationship.$pristine || fbdataform.relationship.$invalid  && submitted }">

        	<input type="text" name="relationship" class="form-control" data-ng-model="fbdata.relationship_status" placeholder="Relationship Status" required>

            <p ng-show="(fbdataform.relationship.$invalid && !fbdataform.relationship.$pristine) || (fbdataform.relationship.$invalid  && submitted) " class="help-block">Add RelationShip Status.</p>
            </div>
        </div>   
        <h4>{{errMessage}}</h4>
        <div class="col-md-3 clear buttonWrap">
        	<input type="submit" value="submit" ng-click="submitted=true" class="btn btn-lg btn-primary btn-block " >
        </div>
                    
                    
                  </form>
</div>
<!--=== Footer ===-->
 <div data-ng-controller="FooterCtrl" data-ng-include="Footer">
</div>

<!--=== End Footer ===-->