<div class="wrapper">
    <!--=== Header ===-->    
  <div data-ng-controller="AdminheaderCtrl" data-ng-include="Header">
</div>
    <!--=== End Header ===-->  




    <!--=== Profile ===-->
    <div class="profile container content" style="border-color:red">
        <div class="row">
            <!--Left Sidebar-->
            <div data-ng-controller="SideBarSuperadminCtrl" data-ng-include="SideBarSuperAdmin">
            </div>
            <!--End Left Sidebar-->
            
            <div class="col-md-9">
             <div class="headline"><h2>Messages</h2></div>
            	 <div class="funny-boxes funny-boxes-top-sea" data-ng-repeat = "com in comm" data-ng-hide="discussion.deleted">

                   
                    <h4>{{com.sender}} has reported {{com.user}} as an abusing user</h4>
                    <p>{{com.Message}}</p>
                    <p>
                        <a class="btn-u btn-u-red" href="#/">View {{com.user}}</a>
                        
                    </p>
                </div>     



                </div>
            </div>
        </div>

    </div>
    <!--=== Footer ===-->
 <div data-ng-controller="FooterCtrl" data-ng-include="Footer">
</div>

<!--=== End Footer ===-->


</div>