<div data-ng-controller="Header1Ctrl" data-ng-include="Header1">
</div>


<!--BANNER START HERE-->
<div class="bck-img-why">
  <div class="transperent-why">
<div class="container" style="text-align:center; padding-top:30px;padding-bottom:30px;">
   
    <!-- Carousel
        ================================================== -->
      <div class="pos-rel">
       <a class=" fixer" title="Close" href="#/" >
        <!-- <i class="icon-custom1 rounded-x fa fa-times" ></i> -->
        <img ng-src="images/close-button1.png" style="width:35px;">
      </a>
      </div>
        
    <div id="myCarousel" class="carousel slide" data-ride="carousel" > 
      <!-- Indicators -->
      
      <div class="carousel-inner" >
        
        <div ng-class="{item: true, active : (img.no === 0)}" ng-repeat="img in images"> <img ng-src="{{img.src}}" alt="Slide numder {{img.no}}" style="width:100%;">

          <div class="container">
            <div class="carousel-caption"> </div>
          </div>
          <a ng-hide="img.hide" class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" style="color:#4c2500;"></span></a> 
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" style="color:#4c2500;"></span></a> 
        </div>
      </div>
      </div>
    <!-- /.carousel --> 
    
    <!-- Fixed navbar -->
    

</div>
</div>
</div>
<!--BANNER ENDS HERE-->

 <div data-ng-controller="FooterCtrl" data-ng-include="Footer">
</div>